.green-btn {background-color: #17B385;color: #ffffff;padding: 8px 5px;border-radius: 3px;font-size: 16px;}
.purple-btn {background-color: #707B91;}
.nsb-block {background-color: #fff;border-radius: 2px;}
.edit{display: block;width: 800px;margin: auto;}
.nsb-block h2 {position: inherit;height: 24px;line-height: 24px;padding: 11px 20px 7px;}
    .nsb-block-content {border-top: 1px solid #eceef1;overflow: hidden;}
        .tagName{font-weight: 700;text-decoration: underline;}
        .edit-unit {position: relative;padding: 30px;border-bottom: 1px solid #eceef1;height: auto;float: left;width: 734px;}
            .edit-name {display: block;float: left;height: 50px;line-height: 50px;width: 120px;padding-right: 20px;text-align: right;font-size: 16px;}
            .edit-body {position: relative;float: left;width: 500px;font-size: 0;}
            .edit-hint {display: block;float: right;line-height: 25px;font-size: 13px;color: #a2a8b3;}
            .select-wrapper {float: left;margin: 0;width: 300px;height: 50px;}
                .required{border:none;background: #eceef1;width: 300px;height: 50px;border-radius: 3px;padding: 10px 5px;font-size: 16px;line-height: 16px;color: #6b7485;margin-left: 30px;font-family: '微軟正黑體';}
            .checkbox{font-size: 16px;height: 20px;width: 200px;vertical-align: middle;line-height: 16px;z-index: 6;}
            .checkbox:hover{cursor: pointer;}

            .editDivSelectUl{position: absolute;text-align: center;z-index: 6;overflow: auto;width: 300px;height: 200px;left: 30px;}
            .editDivSelectUl a{text-decoration: none;color: #ffffff;}
            .editDivSelectUl li{list-style: none;background: #707b91;font-weight: 500;font-size: 16px;color: #ffffff;height: 39px;line-height: 39px;}
            .editDivSelectUl li:hover{background-color: #d94600;}
            .dropList{background-position: -136px -135px;width: 16px;height: 12px;position: absolute;top: 50px;left: 450px;}


        .postJobBut{color: #ffffff;background: #36a9e5;padding: 10px 8px;border-radius: 3px;font-size: 18px;margin-left: 200px;}

