.partner{position:relative;width: 270px;height: auto;border: 2px solid black;padding-top: 10px;padding-bottom: 10px;text-align: center;}	
	.partnerList{width: 100%;text-align: center;}
	.partnerList a{display: block;text-decoration: none;color: black;height: 35px;}
	.partnerList a:hover{background: gray;color: white;}
	.partnerList img{width: 25px;height: 25px;margin-top: 5px;}

.selectCompany{position: absolute;width: 700px;height: auto;left:300px;top:0px;}
	.selector{width: 100%;height: auto;position: relative;}