body{margin: 0;padding: 0;width: 100%;height: auto;margin: auto;color: #6b7485;
font-family: '文泉驛微米黑 Regular', '文泉驛微米黑','Arial Negreta cursiva', 'Arial','微軟正黑體';
background:url(../images/layout/pattern.png);}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{margin: 0;padding: 0;border: 0;transition:opacity .2s ease,color .2s ease,background .2s ease,box-shadow .2s ease;}

.input{height: 40px;width:200px;border:1px solid #46A3FF;font-size: 15px;font-weight: 500;background: rgba(242, 242, 242, 1);}
.button{border: none;width: 70px;height: 40px;background: #46A3FF;font-weight: 500;color: white;font-size: 17px;font-family: '微軟正黑體';}
.icon{background-image: url(../images/layout/sprite.png);background-repeat: no-repeat;display: inline-block;vertical-align: 0;margin-bottom: -1px;zoom:1;}
.title-chart{width: 13px;height: 13px;}

.showUs{width: 100%;position:relative;height: 440px;}
	.showImage{width: 1024px;height: 400px;margin: auto;border:2px solid #46A3FF;margin-top: 20px;background: white;}

.taoloumenu{position:relative;width: 100%;height: 70px;background: white;z-index: 3;border-bottom: 2px solid #46A3FF;}
	.logo{position:absolute;background: url(../images/taolou_logo.jpg);width:265px;height: 70px;background-size: auto 100%;left:50px;}
	.menuBar{width: 1024px;position: relative;margin: auto;}
		.menu{margin: auto;list-style: none;position: absolute;top:30px;font-size: 18px;left: 280px;}
		.menu li{display: inline;margin-right: 30px;}
		.menu li a{color: black;text-decoration: none;font-weight: 500;}
		.menu li a:hover{text-decoration: underline;}

		.search{position: absolute;top: 0px;right:0;background: white;height: 70px;width: 300px;}
			.searchPos{position: absolute;top: 15px;}
			.searchBar{left: 10px;}
			.goSearch{right: 10px;}
			.goSearch:hover{cursor: pointer;}

.body{position: relative;width: 1024px;margin: auto;height: auto;margin-top: 50px;margin-bottom: 50px;}

.footer{width: 100%;height: auto;position: relative;background: #0072E3;}
	.ourInfo{width: 1024px;height: 100px;margin: auto;color: white;}
