/* line 2, ../sass/resume_management.sass */
.center .selectCompany, .center .showJobs {
  left: 0;
  margin: 0 auto;
}

/* line 5, ../sass/resume_management.sass */
.upload {
  float: right;
  padding: 0px 10px;
  color: #17b385;
  text-decoration: none;
  font-size: 16px;
}

/* line 10, ../sass/resume_management.sass */
.upload-space {
  text-align: center;
  border: 1px dashed gray;
  padding: 50px;
  margin: 20px;
}

/* line 15, ../sass/resume_management.sass */
.hand {
  color: blue;
}

/* line 18, ../sass/resume_management.sass */
.btn {
  padding: 10px 20px;
  text-decoration: none;
  background: gray;
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
}

/* line 25, ../sass/resume_management.sass */
.submit {
  text-align: center;
  margin: 30px;
}

/* line 28, ../sass/resume_management.sass */
.banner {
  text-align: center;
  color: red;
  background: rgba(255, 0, 0, 0.5);
  margin: 0 auto;
  height: 50px;
  padding: 15px 0px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 75px;
  font-size: 20px;
}

/* line 41, ../sass/resume_management.sass */
.showsmart {
  height: 50px;
  width: 720px;
  margin: 0 auto;
}

/* line 45, ../sass/resume_management.sass */
.opentext {
  color: white;
  font-weight: bold;
}

/* line 48, ../sass/resume_management.sass */
.body {
  margin-top: 0px;
}

/* line 50, ../sass/resume_management.sass */
.keyword {
  color: yellow;
}

/* line 52, ../sass/resume_management.sass */
.formargin {
  margin-top: 50px;
}
.Resume{position: relative;margin-top: 50px;}
  .NoRE{width: 100%;text-align: center;font-size: 15px;padding: 10px 0px 10px 0px;font-weight: 400;}
  .NoRE a{text-decoration: none;color: #17b385;}
  .Retitle{font-size: 16px;}
  .Remanege{background-position: -43px -164px;width: 14px;height: 11px;}
  .Renewupload{background-position: -190px -40px;height: 14px;width: 14px;}
  .introduciton{font-size: 15px;margin: 10px 0px 10px 30px;}
    .Reintro{background-position: -101px -76px;width: 16px;height: 17px;}

    #clickUpload:hover{text-decoration: underline;}

  .jobInfo{font-size: 15px;height:auto;}
  .jobInfo:hover{background: #ffffff;}
    .REPDF{background-position: -68px -101px;width: 33px;height: 45px;}
    .REDOC{background-position: -33px -101px;width: 33px;height: 45px;}
    .RETEXT{background-position: -103px -101px;width: 33px;height: 45px;}
    .REX{background-position: -0px -101px;width: 33px;height: 45px;}
    .author{}
      .name{}
    .job-meta{font-size: 13px;position:relative;margin-left: -20px;}
    .status a{text-decoration: none;color: #6b7485;}
      .Rereview{background-position: -190px -75px;width: 14px;height: 10px;margin-bottom: 1px;}
      .Redownload{background-position: 0 -164px;width: 12px;height: 14px;}
      .Reskill{background-position: -103px -59.5px;width: 16px;height: 16px;}
      .Redelete{background-position: -173px -128px;width: 13px;height: 14px;margin-right: 2px;}
    .ResumeSkillDiv{position: relative;padding: 8px;}
      .skillListUl{margin-top: 5px;}
      .skillListUl li{list-style: none;background: #ECEEF1;font-weight: 500;font-size: 13px;color: #000000;height: 25px;line-height: 25px;display: inline-block;padding: 3px 7px;border-radius: 3px;margin-right: 5px;margin-top: 5px;}
    .selectSkillDiv{position: relative;height: auto;text-align: center;}
      .selectskill{width: 500px;margin: auto;text-align: left;margin-bottom: 30px;}

  .checkDelBG{position:fixed;width:100%;height:100%;background:#000;z-index:2;top:0;left:0;opacity:0.7;}
  .checkDel{position: fixed;background: white;z-index: 3;margin: auto;padding: 30px;box-shadow: 0px 0px 3px 3px ;}
  .deleteResu{display: block;padding: 10px 5px;color: #ffffff;font-weight: 700;background: #F57778;text-align: center;margin-top: 30px;}
  .deleteResu:hover{color: black;}