
<style type="text/css">
	.error{color: red;font-weight: 400;font-size: 12px;}
	.right {position: relative;height: auto;padding: 30px;width: 40%;border-left: 1px solid #ECEEF1;text-align: center;}
	.blue-btn, .gray-btn, .green-btn, .purple-btn, .red-btn, .yellow-btn {height: 50px;line-height: 50px;text-align: center;border: medium none;border-radius: 3px;font-size: 16px;color: #FFF;}
	.blue-btn {padding: 10px;background-color: #36A9E5;}
	.red-btn {padding: 10px;background-color: #EB6A64;}
	.green-btn {padding: 10px;background-color: #17B385;}
	a {color: #36A9E5;cursor: pointer;text-decoration: none;transition: opacity 0.2s ease 0s, color 0.2s ease 0s, #F2F1F0 0.2s ease 0s, box-shadow 0.2s ease 0s;}
</style>


<div class='signupDiv' ng-controller='TaolouAccount'>
	<form ng-submit='account()'>
		<input type='hidden' ng-init="myType.values = 'x'" ng-model='myType'>
		<p>信箱：<input type='email' ng-model='email' value=''></p><br>
		<p>密碼：<input type='password' ng-model='password' value=''></p><br>
		<p><input type='submit' value='登入'></p>
		<p class='error'>{{errorMessage}}</p>
	</form>

	<aside class="right">
        <h3>
            have account yet?
        </h3>
        <a class="blue-btn" href="/login">
            sign up
        </a>
        <span class="split">
            or
        </span>
        <br></br>
        <a class="red-btn weibo" href="/oauth/sina">
            log in with facebook
        </a>
        <br></br>
        <a class="blue-btn mingdao" href="/oauth/mingdao">
            log in with google
        </a>
    </aside>
</div>