<style type="text/css">
	.signupDiv{background: #ffffff;width: 100%;height: auto;position: relative;padding: 50px;}
    .form{position: relative;text-align: center;width: 50%;display: inline-block;}
    
    .error{color: red;font-weight: 400;font-size: 12px;}
    .right {position: relative;height: auto;width: 40%;border-left: 1px solid #ECEEF1;text-align: center;display: inline-block;}
    .blue-btn, .gray-btn, .green-btn, .purple-btn, .red-btn, .yellow-btn {height: 50px;line-height: 50px;text-align: center;border: medium none;border-radius: 3px;font-size: 16px;color: #FFF;}
    .blue-btn {padding: 10px;background-color: #36A9E5;}
    .red-btn {padding: 10px;background-color: #EB6A64;}
    .green-btn {padding: 10px;background-color: #17B385;}
    a {color: #36A9E5;cursor: pointer;text-decoration: none;transition: opacity 0.2s ease 0s, color 0.2s ease 0s, #F2F1F0 0.2s ease 0s, box-shadow 0.2s ease 0s;}
</style>

<script type="text/javascript" src='js/facebook_user.js'></script>
<script type="text/javascript" src='js/LinkedIn_user.js'></script>

<div class='signupDiv' ng-controller='TaolouAccount'>
    <h3>登入「Taolou」帳號</h3>
    <hr>
	<div class='form'>
		<input type='hidden' ng-init="myType.values = 'x'" ng-model='myType'>
		<p>信箱：<input class='input' type='email' ng-model='email' value=''></p><br>
		<p>密碼：<input class='input' type='password' ng-model='password' value=''></p><br>
        <p class='error'>{{errorMessage}}</p>
		<p><a href="javascript:;" ng-click="account()" class='blue-btn'>登入</a></p>
		
	</div>

	<aside class="right">
        <h3>
            還沒有有帳號了嗎？
        </h3>
        <a class="green-btn" href="account.php?action=signup">
            註冊
        </a>
        <span class="split">
            或<br>用其他方式使用頭路網<br>
            <ul style='color:red;font-size:15px;font-weight:700;width:200px;margin-left:150px;text-align:left;list-style-type:upper-roman;margin-top:20px;'>
                <li>一般使用者請直接登入</li>
                <li>企業用戶需綁定後才可登入</li>
            </ul>
        </span>
        <br></br>
        <a href="javascript:checkLoginState();" class="blue-btn mingdao" style='background:#3B5999;position:relative;'>
            <img src="https://www.facebook.com/images/fb_icon_325x325.png" width='30'style="position:absolute;top:5px;left:-33px;">
            用Facebook登入
        </a>
        <br></br>
        <div id='LinkedInLogin' style='display:none;'>
            <script type="IN/Login" data-onAuth="onLinkedInAuth"></script>
        </div>
    </aside>
</div>