<link rel="stylesheet" type="text/css" href="css/companies.css">

<div class='comapniesInfoDiv'>
	<div class='companyDiv'>
		<div class='company_head'>
		<?php if(!empty($this->laout_arr['company'])){
				foreach($this->laout_arr['company'] as $ComKey => $ComValue){ ?>
			<div class="img-wrapper">
				<img src="<?php echo $ComValue['logo']; ?>" width="100%" height='100%'>
			</div>
			<h2>
				<?php echo $ComValue['companyShortName']; ?>
				<span class="fullname"><?php echo $ComValue['companyName']; ?></span>
			</h2>
			<?php if($this->ourCompany){ 
					if($this->companyValid){ ?>
			<a href="companyEdit.php?action=<?php echo $this->encode($ComValue['id']); ?>" class='editCompany butShadow'>編輯公司訊息</a>
			<?php }else{ ?>
			<a href="javscript:;" class='editCompany'>公司尚未認證你是HR</a>
			<?php }} ?>
			<p class="head-meta">
				<span class="meta-item size"><span class="icon people"></span><?php echo $ComValue['memberSize']; ?> </span>
				<span class="meta-item location"><span class="icon locationicon"></span><?php echo $this->comLoca[0]; ?></span>
				<span class="meta-item found-time"><span class="icon clock"></span><?php echo $ComValue['createDate']; ?>創立</span>
			</p>
			<p class="head-meta">
				<span class="meta-item website"><span class="icon global"></span><a target="_blank" href="<?php echo $ComValue['website']; ?>"><?php echo $this->comWeb[1]; ?></a></span>
			</p>
			<div class="specialties clearfix">
				<span class="label">專長領域</span>
				<ul class="clearfix">
					<?php if(!empty($this->mySkillLists)){
							foreach($this->myskill as $key => $value) { ?>
					<li><?php echo $value; ?></li>
					<?php }} ?>
				</ul>
			</div>
			<div class="intro">
				<span class="label">公司介绍</span>
				<article><?php echo $ComValue['detail']; ?>　</article>
			</div>
		</div>

		<div class="company-nav">
			<span class="comp-nav-item jobs active">職位</span>
		</div>
		<?php if(!empty($this->laout_arr['job'])){
				foreach($this->laout_arr['job'] as $jobKey => $jobValue) { ?>
		<div class='joblistDiv'>
			<div class="job-list-item">
				<a href="javascript:;" class="job-author-avatar">
					<img src="<?php if($this->postMan[$jobValue['id']]['photo']){echo $this->postMan[$jobValue['id']]['photo'];}
									else{echo "images/userMe/user-default.jpg";} ?>">
				</a>
				<div class="main">
					<span class="job-author-name"><?php echo $this->postMan[$jobValue['id']]['name']; ?></span>
					<span>發佈職位</span>
					<a href="jobs.php?jobsid=<?php echo $this->encode($jobValue['id']); ?>"><?php echo $jobValue['jobName']; ?> </a>
				</div>
				<div class="sub">
					<a href="companies.php?company=<?php echo $this->encode($ComValue['id']); ?>" class="job-company"><span class="icon newspaper"></span><?php echo $ComValue['companyName']; ?></a>
					<span class="job-loc jobmargin"><span class="icon locationicon"></span><?php echo $this->jobLocation[$jobValue['id']][0]; ?></span>
					<span class="job-type jobmargin"><span class="icon jobtypeicon"></span><?php echo $jobValue['jobNature']; ?></span>
					<span class="job-salary jobmargin"><span class="icon salaryicon"></span><?php echo $jobValue['salary']; ?></span>

					<?php if($jobValue['stock_option']=='y'){ ?>
					<span class="job-type jobmargin"><span class="icon stockicon"></span>提供股票期權</span>
					<?php } ?>
				</div>
			</div>
		</div>
		<?php }}else{ ?>
		<div class='joblistDiv'>
			<div class="job-list-item" style="text-align:center;">
				<span>目前還沒有職位喔</span>
			</div>
		</div>
		<?php } ?>

		<div class='dividePage'>
	        <div class='pageBar'>
	        </div>
	    </div>
	</div>

	<div class='companyRight'>
		<section class="nsb-block company-aside">
			<div class="company-block team">
				<h3>管理團隊</h3>
				<div class="team-member">
					<div class="img-wrapper avatar">
						<img src="<?php if($ComValue['ceoPhoto']){echo $ComValue['ceoPhoto'];}else{echo "images/userMe/user-default.jpg";} ?>" alt="">
					</div>
					<div class="memver-content">
						<span class="name"><?php echo $ComValue['CEO']; ?></span>
						<span class="title">CEO</span>
					</div>
				</div>
			</div>

			<div class="company-block finance">
				<h3>當前融資或上市狀況</h3>
				<ul class="financing-body">
					<?php if(!empty($this->laout_arr['finInfo'])){ 
							foreach($this->laout_arr['finInfo'] as $key => $value){?>
					<li><?php echo $value['stage']; ?><span class="time"><?php echo $value['date']; ?></span></li>
					<?php }} ?>
				</ul>
			</div>
		</section>
		<?php }} ?>
		<section class="nsb-block shareButton">
			<h2>分享</h2>
			<div class='shareType'>
				<a href="javascript:;"><span></span>Facebook</a>
				<a href="javascript:;"><span></span>Google</a>
			</div>
		</section>
	</div>

</div>