<link rel="stylesheet" type="text/css" href="css/companies.css">

<div class='comapniesInfoDiv'>
	<div class='companyDiv'>
		<div class='company_head'>
			<div class="img-wrapper">
				<img src="http://nsb-cdn.b0.upaiyun.com/avatars/6db1/38e3/6db138e3a5301013_large.png" alt="厚学网的公司图标">
			</div>
			<h2>
				厚学网
				<span class="fullname">南京首屏信息技术有限公司</span>
			</h2>
			<a href="companyEdit.php" class='editCompany'>編輯公司訊息</a>
			<p class="head-meta">
				<span class="meta-item size"><span class="icon people"></span>50-200 人</span>
				<span class="meta-item location"><span class="icon locationicon"></span>南京</span>
				<span class="meta-item found-time"><span class="icon clock"></span>2010 年 7 月</span>
			</p>
			<p class="head-meta">
				<span class="meta-item website"><span class="icon global"></span><a target="_blank" href="http://www.houxue.com">www.houxue.com</a></span>
			</p>
			<div class="specialties clearfix">
				<span class="label">专长领域</span>
				<ul class="clearfix">
					<li>移动互联网</li>
					<li>电子商务</li>
					<li>教育</li>
				</ul>
			</div>
			<div class="intro">
				<span class="label">公司介绍</span>
				<article>厚学网(www.houxue.com)是一家专注于教育培训行业,为用户提供培训课程指南及报名服务的平台网站。</article>
			</div>
		</div>

		<div class="company-nav">
			<span class="comp-nav-item jobs active">职位</span>
		</div>

		<div class='joblistDiv'>
			<div class="job-list-item" ng-repeat='i in [0,1,2,3,4,5]'>
				<a href="javascript:;" class="job-author-avatar"><img src="http://tp4.sinaimg.cn/1335661931/180/5627718740/0" alt="周女士的头像"></a>
				<div class="main">
					<span class="job-author-name">周女士</span>
					<span>發佈職位</span>
					<a href="/jobs/6hJWx9">客服</a>
				</div>
				<div class="sub">
					<a href="/companies/NFxLOM" class="job-company"><span class="icon newspaper"></span>厚学网</a>
					<span class="job-loc jobmargin"><span class="icon locationicon"></span>南京</span>
					<span class="job-type jobmargin"><span class="icon jobtypeicon"></span>全职</span>
					<span class="job-salary jobmargin"><span class="icon salaryicon"></span>2500</span>
				</div>
			</div>
		</div>

		<div class='dividePage'>
	        <div class='pageBar'>
	        </div>
	    </div>
	</div>

	<div class='companyRight'>
		<section class="nsb-block company-aside">
			<div class="company-block team">
				<h3>管理团队</h3>
				<div class="team-member">
					<div class="img-wrapper avatar">
						<img src="http://nsb-cdn.b0.upaiyun.com/avatars/11f6/a5f9/11f6a5f909a6f529_medium.png" alt="">
					</div>
					<div class="memver-content">
						<span class="name">施宜平</span>
						<span class="title">CEO</span>
					</div>
				</div>
			</div>

			<div class="company-block finance">
				<h3>当前融资或者上市情况</h3>
				<ul class="financing-body">
					<li>A 轮<span class="time">2012.08</span></li>
				</ul>
			</div>
		</section>

		<section class="nsb-block shareButton">
			<h2>分享</h2>
			<div class='shareType'>
				<a href="javascript:;"><span></span>Facebook</a>
				<a href="javascript:;"><span></span>Google</a>
			</div>
		</section>
	</div>

</div>