<link href="css/index.css" rel="stylesheet">

    	<nav class='partner'>
    		<h3>
                <span class='icon title-chart title-icon'></span>
                <span>推薦公司</span>
            </h3>
    		<div class='partnerList'>
                <?php foreach($this->laout_arr['partner'] as $partnerkey => $partnervalue) { ?>
    			<a href="companies.php?company=<?php echo $this->encode($partnervalue['id']); ?>">
    				<img src="images/<?php echo $partnervalue['logo']; ?>">
    				<span><?php echo $partnervalue['companyName']; ?></span>
    			</a>
                <?php } ?>
    		</div>
    	</nav>

    	<section class='selectCompany' ng-controller='TaoLoujob-index'>
            <h3>
                <span class='icon title-chart title-box'></span>
                <span>瀏覽公司</span>
            </h3>
    		<div class='selector'>
    			<ul class='hotJob'>
    				<li class='tagName'>熱門</li>
                    <li class='tag' ng-repeat='hotJob in hotJobs'>{{hotJob.name}}</li>
    			</ul>
    			<ul class='location'>
    				<li class='tagName'>地區</li>
                    <li class='tag' ng-repeat='pos in positions'>{{pos.name}}</li>
    			</ul>
    			<ul class='jobtype'>
    				<li class='tagName'>類型</li>
                    <li class='tag' ng-repeat='type in jobTypes'>{{type.name}}</li>
    			</ul>
    		</div>
    	</section>

        <div class='showJobs'>
            <?php foreach($this->laout_arr['showJob'] as $jobKey => $jobValue) { ?>
            <a class='jobitem' href="jobs.php?jobsid=<?php echo $this->encode($jobValue['id']); ?>">
                <div class='jobInfo'>
                    <figure>
                        <img src="images/<?php echo $jobValue['logo'] ?>">
                    </figure>
                    <div class='author'>
                        <b class="name"><?php echo $jobValue['companyName'] ?></b>
                        <b class="job-creator-type">HR</b>
                        <span class="company-domain">*@meidebi.com </span>
                        发布了 <b class="job-title"><?php echo $jobValue['jobName'] ?></b>
                    </div>
                    <div class='job-meta'>
                        <span class="location"><span class='icon locationicon'></span><b><?php echo $jobValue['location'] ?></b></span>
                        <span class="type"><span class='icon jobtypeicon'></span><b><?php echo $jobValue['jobType'] ?></b></span>
                        <span class="salary-start"><span class='icon salaryicon'></span><b><?php echo $jobValue['salary'] ?></b></span>
                        <?php if($jobValue['stock_option']=='y'){ ?>
                        <span class="stock-share"><span class='icon stockicon'></span>提供股票或期权<b></b></span>
                        <?php } ?>
                    </div>
                </div>
            </a>
            <?php } ?>
        </div>

        <div class='dividePage'>
            <div class='pageBar'>
                <?php if($this->page > 2) {?>
                    <a class='home pageTag' href="index.php">首頁</a>
                <?php } ?>

                <?php if($this->page > 1) {?>
                    <a class='pre pageTag' href="index.php?page=<?php echo ($this->page-1); ?>">上一頁</a>
                    <?php for($i=1;$i<$this->page;$i++) { ?>
                    <a class='pageTag' href="index.php?page=<?php echo $i; ?>"><?php echo $i; ?></a>
                <?php } ?><?php } ?>

                <a class='page pageTag'><?php echo $this->page; ?></a>

                <?php if($this->page!=$this->max_page && $this->page<$this->max_page) {?>
                    <?php for($i=$this->page+1;$i<=$this->max_page;$i++) {?>
                    <a class='pageTag' href="index.php?page=<?php echo $i; ?>"><?php echo $i; ?></a>
                    <?php } ?>
                    <a class='next pageTag' href="index.php?page=<?php echo ($this->page+1); ?>">下一頁</a>
                <?php } ?>
            </div>
        </div>