<style type="text/css">
    .bg{position:fixed;width:100%;height:100%;background:#000;z-index:-2;top:0;left:0;opacity:0.3;}
    .partner{}
    .partner h3{color: #000000;}
    .partnerList{position: relative;width:750px;margin: auto;text-align: left;margin-bottom: 150px;}
        .companyDiv{position: relative;display: inline-block;margin-top: 50px;}
    .partnerList img{width: 100px; height: 100px;}
        .companyName{color: #ffffff;font-size: 13px;padding: 8px 5px;background: #6D7686;border-radius: 3px;position: absolute;top: -50px;left:0px;display: none;}
    .partnerList .companyA:hover .companyName{display: inline-block;}
    .partnerList .companyA{margin-right: 50px;}
        .quickApplyJob{display: block;margin-top: 150px;color: #ffffff;
background: #1958A6; /* Old browsers */
font-size: 17px;padding: 20px 0px;border-radius: 5px;width: 150px;margin-left:auto;text-align: center;}
.quickApplyJob:hover{box-shadow: 0px 0px 5px 0px #000000;}
</style>


<nav class='partner'>
	<h3>
        <span class='icon title-chart title-icon'></span>
        <span>推薦公司</span>
    </h3>
	<div class='partnerList'>
        <?php foreach($this->laout_arr['partner'] as $partnerkey => $partnervalue) { ?>
		<a href="companies.php?company=<?php echo $this->encode($partnervalue['id']); ?>" class='companyA'>
			<div class='companyDiv'>
                <img src="<?php echo $partnervalue['logo']; ?>">
    			<span class='companyName'><?php echo $partnervalue['companyName']; ?></span>
            </div>
		</a>
        <?php } ?>
        <a href="jobs.php" class='quickApplyJob'>馬上看職缺</a>
	</div>
</nav>