<link href="css/index.css" rel="stylesheet">
<style type="text/css">
    .joblist{background-position: -120px -59px;width: 17px;height: 17px;}
    .selectCompany, .showJobs, .dividePage{left: 0;margin: auto;}
    .selector{border: 1px solid #eceef1;width: 680px;margin: auto;margin-top: 10px;margin-bottom: 10px;}
    .moneyIcon{background-position: -156px -111px;width: 16px;height: 16px;}
    .input{width: 100px;}
</style>

<div ng-controller="TaoLoujob-index">
	<section class='selectCompany'>
        <h3>
            <span class='icon joblist'></span>
            職位列表
        </h3>
		<div class='selector'>
			<ul class='city'>
				<li class='tagName'>城市</li>
                <li class='tag' ng-repeat='pos in positions'>{{pos.name}}</li>
			</ul>
			<ul class='jobtype'>
				<li class='tagName'>類型</li>
                <li class='tag' ng-repeat='type in jobTypes'>{{type.name}}</li>
			</ul>
            <ul class='salary'>
                <li class='tagName'>薪水</li>
                <span class='icon moneyIcon'></span><input type="text" class='input' name="lower_bound"> ~ <span class='icon moneyIcon'></span><input class='input' type="text" name="upper_bound">
            </ul>
		</div>
        <div class='selector'>
            <ul class='rank'>
                <li class='tagName'>排序</li>
                <li class='tag' ng-repeat='rank in ranks'>{{rank.name}}</li>
            </ul>
        </div>
	</section>

    <div class='showJobs'>
            <?php foreach($this->laout_arr['showJob'] as $jobKey => $jobValue) { ?>
            <a class='jobitem' href="jobs.php?jobsid=<?php echo $this->encode($jobValue['id']); ?>">
                <div class='jobInfo'>
                    <figure>
                        <img src="<?php echo $jobValue['logo'] ?>">
                    </figure>
                    <div class='author'>
                        <b class="name"><?php echo $jobValue['companyName'] ?></b>
                        <b class="job-creator-type">HR</b>
                        发布了 <b class="job-title"><?php echo $jobValue['jobName'] ?></b>
                    </div>
                    <div class='job-meta'>
                        <span class="meta-item location"><span class='icon locationicon'></span><b><?php echo $this->jobLoca[$jobValue['id']][0]; ?></b></span>
                        <span class="meta-item type"><span class='icon jobtypeicon'></span><b><?php echo $jobValue['jobType'] ?></b></span>
                        <span class="meta-item salary-start"><span class='icon salaryicon'></span><b><?php echo $jobValue['salary'] ?></b></span>
                        <?php if($jobValue['stock_option']=='y'){ ?>
                        <span class="meta-item stock-share"><span class='icon stockicon'></span>提供股票或期权<b></b></span>
                        <?php } ?>
                    </div>
                </div>
            </a>
            <?php } ?>
        </div>

        <div class='dividePage'>
            <div class='pageBar'>
                <?php if($this->page > 2) {?>
                    <a class='home pageTag' href="index.php">首頁</a>
                <?php } ?>

                <?php if($this->page > 1) {?>
                    <a class='pre pageTag' href="index.php?page=<?php echo ($this->page-1); ?>">上一頁</a>
                    <?php for($i=1;$i<$this->page;$i++) { ?>
                    <a class='pageTag' href="index.php?page=<?php echo $i; ?>"><?php echo $i; ?></a>
                <?php } ?><?php } ?>

                <a class='page pageTag'><?php echo $this->page; ?></a>

                <?php if($this->page!=$this->max_page && $this->page<$this->max_page) {?>
                    <?php for($i=$this->page+1;$i<=$this->max_page;$i++) {?>
                    <a class='pageTag' href="index.php?page=<?php echo $i; ?>"><?php echo $i; ?></a>
                    <?php } ?>
                    <a class='next pageTag' href="index.php?page=<?php echo ($this->page+1); ?>">下一頁</a>
                <?php } ?>
            </div>
        </div>
    
</div>