<link rel="stylesheet" type="text/css" href="css/showJob.css">
<script type="text/javascript" src="js/AN_applyJob.js"></script>


<div class='jobInfo' ng-controller="Taolou_applyJob">
	<div class='changeOK' id='account'>
	    馬上<a href="account.php?action=signup">註冊會員</a>，應徵工作

	    <a href="javascript:;" class='closeCheck' ng-click='notMember()'><span class='icon blackCrossIcon'></span></a>
	</div>
	<div class='changeOK' id='mailValid'>
	    請先<a href="javascript:;">認證信箱</a>，才能申請工作喔！

	    <a href="javascript:;" class='closeCheck' ng-click='mailValid()'><span class='icon blackCrossIcon'></span></a>
	</div>

	<?php if(!empty($this->laout_arr['CV'])) {
			foreach($this->laout_arr['CV'] as $CVKey => $CVValue){ ?>
	<input type="hidden" ng-init="CV_NAME='<?php echo $CVValue['name']; ?>'">
	<input type="hidden" ng-init="CV_ID='<?php echo $CVValue['id']; ?>'">
	<!-- 確認線上履歷完整性 -->
	<input type='hidden' ng-init="CV_complete=<?php echo $this->resumeComplete; ?>">
	<input type="hidden" ng-init="CVINIT()">
	<?php }} ?>
	<!-- 顯示履歷列表 -->
	<div class="bg" ng-click="hideCVDiv()"></div>
	<div class='CVDiv'>
		選擇您要投遞的履歷
		<select ng-model="myCV" ng-options="CV.name for CV in CVs">
      		<option value="">請選擇履歷</option>
    	</select>
    	<span style='color:#EB6A64;font-size:12px;font-weight:700;' ng-show="!CV_complete" ng-if="myCV.id==0">TaoLou線上履歷不完整</span>
		<a href="javascript:;" class='applyBtn' ng-click="apply()" ng-hide="!CV_complete && myCV.id==0">投遞履歷</a>
	</div>
	<!-- 開始 -->
	<section class="nsb-block">
		<h2>
			<span class="icon view"></span>
			<span>職位詳情</span>
		</h2>
		<?php if(!empty($this->laout_arr['showJob'])){
		foreach($this->laout_arr['showJob'] as $SKey => $SValue){ ?>
		<input type="hidden" ng-init="jobID = '<?php echo $SValue['id']; ?>'">
		<div class="nsb-block-content">
			<h3><?php echo $SValue['title']; ?></h3>
			<div class="position-wrapper">
				<div class="job-info" data-id="ytaVfT">
					<div class="author">
						<figure class="avatar">
							<a href="/companies/eGhlNM">
								<img src="<?php echo $this->laout_arr['company'][0]['logo']; ?>">
							</a>
						</figure>
						<b class="name">
							<a href="companies.php?company=<?php echo $this->encode($this->laout_arr['company'][0]['id']); ?>"><?php echo $this->laout_arr['company'][0]['companyName']; ?></a>
						</b>
						内推人	發佈了
					</div>
					<h3><?php echo $SValue['jobName']; ?></h3>
					<div class="job-meta">
						<span class="location"><span class='icon locationicon'></span>地點<b><?php echo $this->JobLoca[0]; ?></b></span>
						<span class="type"><span class='icon jobtypeicon'></span>工作性質<b><?php echo $SValue['jobNature']; ?></b></span>
						<span class="salary-start"><span class='icon salaryicon'></span>起薪<b><?php echo $SValue['salary']; ?></b></span>
					</div>
					<p class="job-describe">工作描述：<?php echo $SValue['detail']; ?></p>
				</div>
			</div>
		</div>
		<div class="nsb-block-ctrl">
			<a href="http://www.facebook.com/sharer.php?s=100&p[title]=Taolou頭路網，您最佳的求職網&p[url]=http://taoloutw.tk/jobs.php?jobsid=<?php echo $this->encode($SValue['id']); ?>&p[summary]=<?php echo $this->laout_arr['company'][0]['companyName']."尋找".$SValue['jobName'].",起薪高達:".$SValue['salary']; ?>&source=<?php echo $this->laout_arr['company'][0]['companyName']; ?>&p[images][0]=<?php echo $this->laout_arr['company'][0]['logo']; ?>" target='_new' class="btn red-btn" style='background:#3B5999;'>分享Facebook</a>
			<a class="btn red-btn" href="https://www.linkedin.com/shareArticle?mini=true&url=http://taoloutw.tk/jobs.php?jobsid=<?php echo $this->encode($SValue['id']); ?>&title=Taolou頭路網，您最佳的求職網&summary=<?php echo $this->laout_arr['company'][0]['companyName']."公司正在尋找".$SValue['jobName']."人才 , 起薪高達:".$SValue['salary']; ?>&source=<?php echo $this->laout_arr['company'][0]['companyName']; ?>" target='_new' style='background:#0274B3;'>分享LinkedIn</a>
			<?php if($this->applyJob) {
				if(@$_SESSION['user']['id']==""){ ?>
				<a href="javascript:;" class="btn green-btn apply_btn" ng-click="notMember()">申請此工作</a>
				<a class="btn collect-btn blue-btn" href="javascript:;" ng-click="notMember()">收藏</a>
			<?php }else{ ?>
			<?php if($this->applyJobYet){ ?>
				<a href="javascript:;" class="btn green-btn apply_btn collected">已申請此工作</a>
			<?php }else if($this->collectYet){ ?>
				<?php if(!$this->mailValid){ ?>
				<a href="javascript:;" class="btn green-btn apply_btn" ng-click="mailValid()">申請此工作</a>
				<a class="btn collect-btn blue-btn collected" href="javascript:;">已收藏</a>
				<?php }else{ ?>
				<a href="javascript:;" class="btn green-btn apply_btn" ng-click="showCVDiv()">申請此工作</a>
				<a class="btn collect-btn blue-btn collected" href="javascript:;">已收藏</a>
				<?php } ?>
			<?php }else{ ?>
				<?php if(!$this->mailValid){ ?>
				<a href="javascript:;" class="btn green-btn apply_btn" ng-click="mailValid()">申請此工作</a>
				<a class="btn collect-btn blue-btn" href="javascript:;" ng-click="mailValid()">收藏</a>
				<?php }else{ ?>
				<a href="javascript:;" class="btn green-btn apply_btn" ng-click="showCVDiv()">申請此工作</a>
				<a class="btn collect-btn blue-btn" href="javascript:;" ng-click="collect()">收藏</a>
				<?php } ?>
			<?php }}} ?>
		</div>
	</section>

	<div class="nsb-aside">
		<nav class="job-publisher">
			<h2>
				<span>職位發佈者</span>
			</h2>
			<div class="nsb-block-content">
				<div class="img-wrapper">
					<img src="<?php echo $this->laout_arr['postMan'][0]['photo']; ?>">
				</div>
				<p class="job-publisher-name"><?php echo $this->laout_arr['postMan'][0]['name']; ?></p>
				<?php if($this->applyJob){ 
					if(@$_SESSION['user']['id']==""){?>
					<a href="javascript:;" class="contact-btn" ng-click="notMember()">發私信</a>
				<?php }else{ ?>
					<a href="javascript:;" class="contact-btn" ng-click="messageTo('<?php echo $this->encode($this->laout_arr['postMan'][0]['id']); ?>')">發私信</a>
				<?php }} ?>
			</div>
		</nav>

		<div class="widget-company-card">
			<h2>
				<span>公司訊息</span>
			</h2>
			<div class="nsb-block-content">
				<div>
					<a class="cmpy-card-logo img-wrapper" href="companies.php?company=<?php echo $this->encode($this->laout_arr['company'][0]['id']); ?>">
						<img src="<?php echo $this->laout_arr['company'][0]['logo']; ?>">
					</a>
					<a class="cmpy-card-name" href="companies.php?company=<?php echo $this->encode($this->laout_arr['company'][0]['id']); ?>"><?php echo $this->laout_arr['company'][0]['companyName']; ?></a>
					<div class="cmpy-card-loc"><span class='icon locationicon'></span><?php echo $this->ComLoca[0]; ?></div>
					<div class="cmpy-card-line">
						<span class="label"><span class='icon clock'></span>成立時間</span>
						<span class="body"><?php echo $this->laout_arr['company'][0]['createDate']; ?></span>
					</div>
					<div class="cmpy-card-line">
						<span class="label"><span class='icon stockicon'></span>融資階段</span>
						<span class="body"><?php echo $this->laout_arr['finInfo'][0]['stage']; ?></span>
					</div>
					<div class="cmpy-card-line">
						<span class="label"><span class='icon people'></span>規模</span>
						<span class="body"><?php echo $this->laout_arr['company'][0]['memberSize']; ?></span>
					</div>
				</div>
			</div>
		</div>

	</div>
	<?php }}else{ ?>
	<div>
		<p>無此職位</p>
	</div>
	<?php } ?>
</div>
