<link href="css/index.css" rel="stylesheet">
<style type="text/css">
    .selectCompany{left: 0;margin: auto;}
        .jobitem{height: auto;}
        .jobInfo{height: auto;width: 686px;padding: 20px;}
        .jobInfo:hover{background: none;}
            .topicPhoto img{width: 240px;height: 160px;display: inline-block;}
            .topicDetail{display: inline-block;width: 420px;padding: 0px 0px 0px 5px;top: 0;float: right;}
            .title{display: inline-block;top: 0px;font-size: 20px;}
            .title a{font-size: 20px;font-weight: 700;text-decoration: none;color: #586276;}
            .title a:hover{color: #36a9e5;}
            .intro{font-size: 15px;}
</style>
    <div>
        <section class='selectCompany'>
            <h3>
                <span class='icon title-chart title-icon'></span>
                <span>主題列表</span>
            </h3>
        </section>
<?php if(!empty($this->laout_arr['topic'])){
        foreach ($this->laout_arr['topic'] as $key => $value) { ?>
        <div class='selectCompany'>
            <div class='jobitem'>
                <div class='jobInfo'>
                    <a href="<?php echo $value['topicURL']; ?>" class='topicPhoto'>
                        <img src="<?php echo $value['topicPhoto']; ?>">
                    </a>
                    <div class='topicDetail'>
                        <div class='title'>
                            <a target="_self" href="<?php echo $value['topicURL']; ?>">
                                <?php echo $value['topicName']; ?>
                            </a>
                        </div>
                        <div class='submeta'>
                            <span class="intro">
                                <?php echo $value['topicDetail']; ?>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<?php }} ?>
    </div>