<link rel="stylesheet" type="text/css" href="css/userMe.css">
<script type="text/javascript" src="js/An_onlineCV.js"></script>

<div class='onlineCV' ng-controller='Taolou_onlineCV'>
	<div class='profile'>
		<div class='avatar'>
			<img src="images/userMe/user-default.jpg" alt="">
		</div>
		<div class='main clearfix'>
			<span class="name">林彥丞</span>
			<span class="status" data-val="0">正在找工作</span>
		</div>
		<div class="experience sub">
			<span class="birth" data-birth="1991"><b>1991</b> 年出生・</span>
			<span class="degree" data-degree="1"><b>硕士</b>学历・</span>
			<span class="work-years"><b>1</b> 年工作经验</span>
		</div>
	</div>

	<div class='profile-seg'>
		<span class="seg-title"><span class="icon title-chart locked" data-tooltip="仅自己可见"></span>聯絡方式</span>
		<div class="seg-body">
			<ul>
				<li class="mail clearfix"> 
					<span class="label">信箱</span>
					<span class="value value-mail">q123wer2002@gmail.com</span>
				</li>
				<li class="phone edit-el clearfix" ng-repeat='p in phone'>
					<a href="javascript:;" class='icon title-chart edit' ng-hide='p.editing' ng-click='edit(p)'></a>
					<span class="label">電話</span>
					<span class="value value-phone">
						<span ng-hide='p.editing'>{{p.phone}}</span>
						<span ng-show='p.editing'><input class='in_cv' ng-model='p.phone' value='{{p.phone}}'></span>
						<span ng-show='p.editing'><button class='b_cv' ng-click='save(p)'>保存</button></span>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="profile-seg profile-job-wish">
		<span class="seg-title">求職願望</span>
		<div class="seg-body">
			<div class="edit-el clearfix" ng-repeat='jobwish in job_wish' ng-hide='jobwish.editing'>
				<a class="edit-tgr" href="javascript:;" ng-click='edit(jobwish)'><span class="icon edit"></span></a>

				<span>尋找</span>
						<em class="type" data-val="2">全職</em>
						<em class="type" data-val="1">兼職</em>
						<em class="type" data-val="0">實習</em>
				<span>的</span>
				<em class="title">{{jobwish.name}}</em>
				<span>工作</span>
				<br>

				<span>工作地点位于</span>
					<em class="loc">{{jobwish.loc}}</em>
				<span>，接受</span>
					<em class="loc">遠程工作</em>
				<br>

				<span>月薪不低于</span>
					<em class="salary-start">{{jobwish.min_salary}}</em>
				<span>，要求提供</span>
					<em class='stock'>股票選擇權</em>
			</div>

			<script>
				$(document).ready(function(){
					$( ".edittype" ).on( "click", function() {
						if($(this).children().prop("checked")){
							$(this).children().prop("checked",false);
						}
  						else{
  							$(this).children().prop("checked",true);
  						}
					});
				});
			</script>

			<div class="clearfix edit_jobwish" ng-repeat='jobwish in job_wish' ng-show='jobwish.editing'>

				<div class='edit_div'>職位名稱 <input class='in_cv' ng-model='jobwish.name' value='{{jobwish.name}}'></div>
				<div class='edit_div'>工作類型
					<div class='editspan'>
						<div class='edittype'><input type='checkbox' class='checkbox'>全職</div>
						<div class='edittype'><input type='checkbox' class='checkbox'>兼職</div>
						<div class='edittype'><input type='checkbox' class='checkbox'>實習</div>
					</div>
				</div>
				<div class='edit_div'>最低薪水 <input class='in_cv' ng-model='jobwish.min_salary' value='{{jobwish.min_salary}}'></div>
				<div class='edit_div'>股票期權<div class='edittype one_check'><input type='checkbox' class='checkbox'>需要股票或期權</div></div>
				<div class='edit_div'>工作地點
					<div class='editloc'>
						<div class='loctag'>{{jobwish.loc}}<a href='javascript:;' class='icon title-chart delete'></a></div>
						<br><br>
						<input class='in_cv' placeholder='輸入台灣城市名稱'>
						<br>
					</div>
				</div>
				<div class='edit_div'>遠程工作<div class='edittype one_check'><input type='checkbox' class='checkbox'>接受遠程工作</div></div>

				<a href="javascript:;" ng-click='save(jobwish)'><button class='button b_jobwish'>保存</button></a>
				<a href="javascript:;" ng-click='reload()'><button class='button b_jobwish deny'>取消</button></a>

			</div>

		</div>
	</div>

	<div class='special_skill'>
		<span class="seg-title">特殊技能</span>
		
		<div  class="clearfix showskills" ng-repeat='divskill in divskills' ng-hide='divskill.editing'>
			<a href="javascript:;" class='icon title-chart edit' ng-click='edit(divskill)'></a>
			<ul class='skillList'>
				<li class='skill' ng-repeat='skill in skills | filter:{isDelete:false}'>{{skill.name}}</li>
			</ul>
		</div>
			
		<div class='clearfix' ng-repeat='divskill in divskills' ng-show='divskill.editing'>
			<ul class='skillList'>
				<li class='skill' ng-repeat='skill in skills | filter:{isDelete:false}'>{{skill.name}}<a href='javascript:;' class='icon title-chart delete' ng-click='delete(skill)'></a></li>
			</ul>

			<div class='addskills'>
				<form ng-submit='addskills()' >
					<input type='text' class='in_cv' placeholder='請輸入技能標籤' ng-model='newitem' name='newitem'>
					<input class='in_submit' type='submit' value='新增'>
				</form>
				<ul class='skillList' id='addskill'>
					<li class='addskillLi' ng-repeat='skill in allskills'>{{skill.name}}<input type="hidden" ng-model='newitem' name='newitem' value="{{skill.name}}"></li>
				</ul>
			</div>
		</div>

	</div>

</div>