<link rel="stylesheet" type="text/css" href="css/userMe.css">

<div class='onlineCV'>
	<div class='profile'>
		<div class='avatar'>
			<img src="images/userMe/user-default.jpg" alt="">
		</div>
		<div class='main clearfix'>
			<span class="name">林彥丞</span>
			<span class="status" data-val="0">正在找工作</span>
		</div>
		<div class="experience sub">
			<span class="birth" data-birth="1991"><b>1991</b> 年出生・</span>
			<span class="degree" data-degree="1"><b>硕士</b>学历・</span>
			<span class="work-years"><b>1</b> 年工作经验</span>
		</div>
	</div>

	<div class='profile-seg'>
		123456
	</div>
</div>