<link href="css/index.css" rel="stylesheet">


<div class='jobmanageDiv'>
    <section class='selectCompany'>
        <h3 class='h3titile'>
            <span>已收藏工作</span>
        </h3>
    	<div class='selector'>
    		<p class='introduciton'><span class='icon Reintro'></span>
                過期職位已從列表移除
            </p>
    	</div>
    </section>

       <div class='showJobs'>
        <?php if(!empty($this->laout_arr['Imanage'])){
                foreach($this->saveJob as $jobKey) { 
                    foreach($jobKey as $jobSubKey => $jobValue){?>
        <a class='jobitem'>
            <div class='jobInfo'>
                <figure>
                    <img src="<?php echo $jobValue['logo']; ?>">
                </figure>
                <div class='author'>
                    <a href="jobs.php?jobsid=<?php echo $this->encode($jobValue['id']); ?>"><b class="job-title"><?php echo $jobValue['jobName']; ?></b></a>-
                    <a href="companies.php?company=<?php echo $this->encode($jobValue['companyId']); ?>"><b class="name"><?php echo $jobValue['companyName']; ?></b></a>
                </div>
                <div class='job-meta'>
                    <span class="location"><span class='icon locationicon'></span><b><?php echo $jobValue['location'][0]; ?></b></span>
                    <span class="type"><span class='icon jobtypeicon'></span><b><?php echo $jobValue['jobType']; ?></b></span>
                    <span class="salary-start"><span class='icon salaryicon'></span><b><?php echo $jobValue['salary']; ?></b></span>
                    <?php if($jobValue['stock_option']=='y'){ ?>
                    <span class="stock-share"><span class='icon stockicon'></span>提供股票或期權<b></b></span>
                    <?php } ?>
                </div>
                <div class="status">
                    <?php if($this->mailValid){ ?>
                    <a href="jobs.php?jobsid=<?php echo $this->encode($jobValue['id']); ?>"><span class='resume_status'>立刻申請</span></a>
                    <?php }else{ ?>
                    <a href="mailValid.php"><span class='resume_status' style="color:#EB6A64;">認證信箱後申請</span></a>
                    <?php } ?>
                    <br>
                    <span class='dividtime'>於
                        <?php 
                        $datatime=date("Y-m-d H:i:s");
                        $times=strtotime($datatime)-strtotime($jobValue['jobDate']);    //计算出两个时间差，得到相差的秒数
                        $timei=round($times/(60*60*24));    //可以得出相差的分钟数，round()是四舍五入
                        //计算出两个时间差，得到相差的秒数
                        if($times < 60){$divTime="剛剛";}
                        else if($times < 3600){$divTime=round($times/(60))."分鐘前";}
                        else if($times < 86400){$divTime=round($times/(3600))."個小時前";}
                        else if($times < 259200){$divTime=round($times/(86400))."天前";}
                        else{$divTime=round($times/(259200))."個月前";}
                        echo $divTime;
                        ?>
                    </span>
                </div>
            </div>
        </a>
        <?php }}}else{ ?>
        <div class='Nojobitem'>
            還沒有相對應的工作
        </div>
        <?php } ?>
    </div>


    <div class='dividePage'>
        <div class='pageBar'>
        </div>
    </div>

</div>