<link href="css/index.css" rel="stylesheet">

<div class='jobmanageDiv'>
	<section class='selectCompany'>
        <h3 class='h3titile'>
            <span>智能投遞工作</span>
        </h3>
		<div class='selector'>
			 <p class='introduciton'><span class='icon Reintro'></span>智能投遞將通過聰明的演算法幫您投遞對應的職缺，馬上使用
                <a href="" class='smart_apply'>「智能投遞」</a>！
            </p>
		</div>
	</section>

   <div class='showJobs'>
        <?php foreach($this->saveJob['showJob'] as $jobKey => $jobValue) { ?>
        <a class='jobitem' href="jobs.php?jobsid=<?php echo $this->encode($jobValue['id']); ?>">
            <div class='jobInfo'>
                <figure>
                    <img src="images/<?php echo $jobValue['logo'] ?>">
                </figure>
                <div class='author'>
                    <b class="name"><?php echo $jobValue['companyName'] ?></b>
                    <b class="job-creator-type">HR</b>
                    <span class="company-domain">*@meidebi.com </span>
                    发布了 <b class="job-title"><?php echo $jobValue['jobName'] ?></b>
                </div>
                <div class='job-meta'>
                    <span class="location"><span class='icon locationicon'></span><b><?php echo $jobValue['location'] ?></b></span>
                    <span class="type"><span class='icon jobtypeicon'></span><b><?php echo $jobValue['jobType'] ?></b></span>
                    <span class="salary-start"><span class='icon salaryicon'></span><b><?php echo $jobValue['salary'] ?></b></span>
                    <span class="stock-share"><span class='icon stockicon'></span>股票或期权<b><?php echo $jobValue['stock_option'] ?></b></span>
                </div>
            </div>
        </a>
        <?php } ?>
    </div>
    
    <div class='dividePage'>
        <div class='pageBar'>
        </div>
    </div>
</div>