<link href="css/index.css" rel="stylesheet">
<link href="css/account.css" rel="stylesheet">
<script type="text/javascript" src='js/AN_account.js'></script>

<div ng-controller='TaolouAccount'>

    <div class='changeOK'>
        密碼更改成功，下次登入請用新密碼！
    </div>
    
    <section class='selectCompany'>
        <h3>
            <span>密碼</span>
        </h3>
    </section>

    <div class='old'>
        <div class="password">
            <span class='big-fz'>舊密碼(請輸入您的舊密碼)</span>
            <input type="password" ng-model='ex_password'>
        </div>   
    </div>

    <div class='new'>
        <div class="password">
            <span class='big-fz'>新密碼(密碼至少為六位數)</span>
            <input type="password" ng-model='new_password'>
        </div>
    </div>

    <div class='save'>
        <span class='passErrorMes'>{{passError}}</span>
        <a href="javascript:;" class='confirm' ng-click='changePass()'>確定</a>
    </div>
</div>