<link href="css/account.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">


<section class='selectCompany'>
    <h3>
        <span>密碼</span>
    </h3>
</section>

<div class='old'>
    <div class="password">
        <span class='big-fz'>舊密碼(請輸入您的舊密碼)</span>
        <input type="password">
    </div>   
</div>

<div class='new'>
    <div class="password">
        <span class='big-fz'>新密碼(密碼至少為六位數)</span>
        <input type="password">
    </div>
</div>

<div class='save' ng-controller='TaoLoujob-index'>
    <a href="" class='confirm'>確定</a>
</div>