<link href="css/index.css" rel="stylesheet">
<link href="css/message.css" rel="stylesheet">
<link href="css/account.css" rel="stylesheet">


<section class='selectCompany'>
    <h3>
        <span>郵件提醒</span>
    </h3>
</section>
<div class='checkbox'>
    <div class="checkcontent">
    
    <div class="select"><input type="checkbox"><p class='text'>有人私信我</p></div>
    <div class="select"><input type="checkbox"><p class='text'>履歷被下載或打開</p><p class='mail'>寄e-mail提醒我</p></div>
    
    </div>
</div>

<div class='save' ng-controller='TaoLoujob-index'>
        <a href="" class='sure'>確定</a>
</div>