<link href="css/message.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">

<section class='selectCompany'>
    <h3>
        <span>與<a href="">公司名稱</a><span class="name">HR名字</span>的對話</span>
    </h3>
</section>

<div class='rule hr'>
    <div class="hr-say"><p class='hr-left saying'>您好 我是北京鲜旅科技有限公司 请问您有意向和时间来公司面试吗？http://www.xianlvke.com/ 这是鲜旅客网站</p></div>
    <div class="job-seeker-say"><p class='job-seker-right saying'>請問什麼時間比較方便？</p></div>
</div>
<div class='rule job-seeker'>
    <textarea class="job-seeker-send" placeholder='您可以在這裡私訊您想聯絡的人'></textarea>
    <a href="" class='btn'>傳送</a>
</div>