<link href="css/index.css" rel="stylesheet">
<link href="css/message.css" rel="stylesheet">
<script type="text/javascript" src='js/AN_message.js'></script>

<div ng-controller='Taolou_Message'>
	<input type='hidden' ng-init="receiver = '<?php echo $this->receiveUserId; ?>'">
	<section class='selectCompany'>
	    <h3>
	    	<?php if(!empty($this->laout_arr['UserInfo'])){
	    		foreach($this->laout_arr['UserInfo'] as $InfoKey => $InfoValue){ ?>
	    	<span class='icon MessageBox'></span>
	        <span class='MsSubTitle'>與
	        	「<a class='companyName' href="companies.php?company=<?php echo $this->encode($InfoValue['companyId']); ?>"><?php echo $InfoValue['companyName']; ?></a>」的HR 
	        	<span class="name"><?php echo $InfoValue['name']; ?></span>
	        	的對話
	        </span>
	        <?php }}else{ 
	        	foreach($this->laout_arr['ComToUser'] as $CTUKey => $CTUValue){?>
	        <span class='icon MessageBox'></span>
	        <span class='MsSubTitle'>與
	        	「<a class='companyName' href="javascript:;"><?php echo $CTUValue['name']; ?></a>」的
	        	的對話
	        </span>
	        <?php }} ?>

	        <a class='backMessTitle' href="userMessage.php"><span class='icon backIconMess'></span>返回私訊首頁</a>
	    </h3>
	</section>

	<div class='rule hr' id='MessageDiv'>
		<?php if(!empty($this->laout_arr['MessageCont'])){
				foreach($this->laout_arr['MessageCont'] as $MesKey => $MesValue){ ?>
			
			<?php
	            $datatime=date("Y-m-d H:i:s");
	            $times=strtotime($datatime)-strtotime($MesValue['createDate']);    
	            //计算出两个时间差，得到相差的秒数
	            if($times < 60){$divTime="剛剛";}
	            else if($times < 3600){$divTime=round($times/(60))."分鐘前";}
	            else if($times < 86400){$divTime=round($times/(3600))."個小時前";}
	            else if($times < 259200){$divTime=round($times/(86400))."天前";}
	            else{$divTime=round($times/(259200))."個月前";}
	        ?>
			<?php if($MesValue['receiveUserId']==$_SESSION['user']['id']) { //儲存對話紀錄 ?>
				<input type='hidden' ng-init="MESSAGE_LEFT='<?php echo laout_check($MesValue['message']); ?>'">
				<input type='hidden' ng-init="MESSAGE_RIGHT=''">
				<input type='hidden' ng-init="MESSAGE_time='<?php echo $divTime; ?>'">
				<input type='hidden' ng-init="MESSAGE_noRead=<?php if(in_array($MesValue['id'],$this->noReadMes[$MesValue['sendUserId']])){echo "true";}else{echo "false";} ?>">
			<?php } ?>
			<?php if($MesValue['sendUserId']==$_SESSION['user']['id']) { ?>
				<input type='hidden' ng-init="MESSAGE_LEFT=''">
				<input type='hidden' ng-init="MESSAGE_RIGHT='<?php echo laout_check($MesValue['message']); ?>'">
				<input type='hidden' ng-init="MESSAGE_time='<?php echo $divTime; ?>'">
			<?php } ?>
			<input type='hidden' ng-init="MESSAGEINIT()">	
		<?php }} ?>
		
		<div ng-repeat='message in messages'>
			<div class='SayBG LeftSay saying' ng-if="message.left && !message.noRead" >
				<div class='arrow LEFT'></div>
				<p>{{message.left}}</p>
				<span class='timestamp' id='{{message.time}}'>{{message.time}}</span>
			</div>
			<div class='SayBG LeftSay saying' ng-if="message.left && message.noRead" style='background:#FEB490;'>
				<div class='arrow LEFT' style='border-right-color:#FEB490;'></div>
				<p>{{message.left}}</p>
				<span class='timestamp' id='{{message.time}}'>{{message.time}}</span>
			</div>
			<div class='SayBG RightSay saying' ng-if="message.right">
				<div class='arrow RIGHT'></div>
				<p class='rightMes'>{{message.right}}</p>
				<span class='timestamp' id='{{message.time}}'>{{message.time}}</span>
			</div>
		</div>

		<div class='whiteBG'></div>
	</div>

	<div class='rule job-seeker'>
    	<textarea class="job-seeker-send" placeholder='填入訊息內容' ng-model='messageArea'></textarea>
    	<span class='errorMes'>{{Error}}</span>
   		<a href="javascript:;" class='btn butShadow' ng-click='sendMessage()'>傳送</a>
	</div>
</div>