<link rel="stylesheet" type="text/css" href="css/userMe.css">
<script type="text/javascript" src='js/AN_userMe.js'></script>

<div class='onlineCV' ng-controller='Taolou_onlineCV'>
	<?php if(!empty($this->laout_arr['member'])){
			foreach($this->laout_arr['member'] as $memberKey => $memberValue) { ?>
	<div class='profile'>
		<a href="javascript:;" class='editProfile' style='right:70px;' ng-click='showPOPEdit()'>
			<span id='iconEditProfile' class='icon'></span>編輯
		</a>
		<a href="userMe_preview.php" class='editProfile' target='_new'>
			<span class='icon white_view'></span>預覽
		</a>


		<div class='avatar clearfix'>
			<span id='iconEditProfile' class='icon profileEdit'></span>
			<div class='blackBG'></div>
			<img id='userPhoto' src="<?php 
			if($memberValue['photo']!=""){echo $memberValue['photo'];}
			else{echo "images/userMe/user-default.jpg";} ?>">
			<form id='userPhotoForm' action='userMe.php?action=userPhoto' method='POST' enctype="multipart/form-data">
				<input type='file' name='file' id="file" style="display:none"  accept='image/*' onchange='handleFiles(this.files)'>
			</form>
		</div>
		<div id='fileList'></div>		
		<div class='main clearfix'>
			<span class="name">{{name}}</span>
			<span class="status">{{jobShow}}</span>
		</div>
		<div class="experience">
			<span class="birth"><b>{{bornYear}}</b> 年出生・</span>
			<span class="degree"><b>{{topEdu}}</b>學歷・</span>
			<span class="work-years"><b>{{workYear}}</b> 年工作經驗</span>
		</div>
	</div>

	<div class='BG' ng-show='showPOPEditStatus' ng-click='showPOPEdit()'></div>
	<div class='popEditProfileDiv' ng-show='showPOPEditStatus'>
		<div class='title'>
			<span>修改基本訊息</span>
			<a href="javascript:;" class='closePop' alt='取消編輯' ng-click='showPOPEdit()'><span class='icon delete'></span></a>
		</div>

		<div class='pop-edit-line'>
			<span class='popLabel'>　　姓名</span>
			<div class='pop-inputWarp'>
				<input type='text' class='pop-input' id='userName' ng-model='name' ng-init="name = '<?php echo $memberValue['name']; ?>'">
			</div>
			<p class='edit-hint'>必填</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>出生年份</span>
			<div class='pop-inputWarp'>
				<a href="javascript:;" id='showYears' ng-click='shoeYearEdit()'><input type='text' class='pop-input pop-select' ng-model='bornYear' ng-init="bornYear = '<?php echo $memberValue['born']; ?>'" disabled="disabled"><span class='icon selectIcon'></span></a>
				<ul class='pop-selectUl' id='yearSelect' ng-show='shoeYearEditStatus'>
					<a href="javascript:;" ng-repeat="n in [] | range:50">
						<li class='yearsSelected' ng-click='selectBornYear(n)'>{{n}}</li>
					</a>
				</ul>
			</div>
			<p class='edit-hint'>必選</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>最高學歷</span>
			<div class='pop-inputWarp'>
				<a href="javascript:;" id='showEducation' ng-click='showEduEdit()'><input type='text' class='pop-input pop-select' ng-model='topEdu' ng-init="topEdu='<?php echo $memberValue['lastEducation']; ?>'" disabled="disabled"><span class='icon selectIcon'></span></a>
				<ul class='pop-selectUl' id='educationSelect' ng-show='showEduEditStatus'>
					<a href="javascript:;" ng-repeat='edu in educations'>
						<li class='educationSelected' ng-click='selectTopEdu(edu)'>{{edu.name}}</li>
					</a>
				</ul>
			</div>
			<p class='edit-hint'>必選</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>工作年齡</span>
			<div class='pop-inputWarp'>
				<input type='number' class='pop-input' id='userWorkyear' ng-model='workYear' ng-init="workYear=<?php echo $memberValue['workYears']; ?>">
			</div>
			<p class='edit-hint'>必填,單位為「年」</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>求職狀態</span>
			<div class='pop-inputWarp'>
				<a href="javascript:;" id='showJobStatus' ng-click='showJobEdit()'><input type='text' class='pop-input pop-select' ng-model='jobShow' ng-init="jobShow='<?php echo $memberValue['jobStatus'] ?>'" disabled="disabled"><span class='icon selectIcon'></span></a>
				<ul class='pop-selectUl' id='jobStatusSelect' ng-show='showJobEditStatus'>
					<a href="javascript:;" ng-repeat='jbs in jobStatus'>
						<li class='jbsSelected' ng-click='selectJobStatus(jbs)'>{{jbs.name}}</li>
					</a>
				</ul>
			</div>
			<p class='edit-hint'>必選</p>
		</div>

		<div class='pop-edit-line popSaveDiv'>
			<a href="javascript:;" class='pop_save' ng-click='save()'>保存</a>
		</div>
	</div>

	<div class='profile-seg'>
		<span class="seg-title"><span class="icon locked"></span>聯絡方式</span>
		<div class="seg-body">
			<ul>
				<li class="mail clearfix"> 
					<span class="label">信箱</span>
					<span class="value value-mail"><?php echo $memberValue['email']; ?></span>
				</li>
				<li class="phone edit-el clearfix" ng-repeat='p in phone'>
					<a href="javascript:;" class='icon edit' ng-hide='p.editing' ng-click='editphone(p)'></a>
					<span class="label">電話</span>
					<span class="value value-phone">
						<span ng-hide='p.editing'>{{p.phone}}</span>
						<span ng-show='p.editing'><input class='in_cv' ng-model='p.phone' ng-init="p.phone = '<?php echo $memberValue['phone']; ?>'" value='{{p.phone}}'></span>
						<span ng-show='p.editing'><button class='b_cv' ng-click='savephone(p)'>保存</button></span>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<?php }} ?>
	
	<div class="profile-seg profile-job-wish">
		<span class="seg-title">求職願望</span>
		<!-- <?php if(empty($this->laout_arr['wantjob'][0]['name'])){ ?>
		<a href="javascript:;" class='add_ee' id='addwantjob' ng-click='addjobwish()' ng-hide='addjobwishB'>
			<span class='icon add'></span>
			新增求職願望
		</a>
		<?php } ?> --> 
		<?php foreach($this->laout_arr['wantjob'] as $wantjobKey => $wantjobValue) { ?>
		<div class="seg-body">
			<div class="edit-el clearfix" ng-hide='addjobwishB'>
				<a class="edit-tgr" href="javascript:;" ng-click='addjobwish()'><span class="icon edit"></span></a>

				<span>尋找</span>
				<?php list($full, $parttime, $intern) = split('[|]', $wantjobValue['jobType']); ?>
					<em class="type"><?php 
					if($full=='true'){echo"|全職";}
					if($parttime=='true'){echo"|兼職";}
					if($intern=='true'){echo"|實習";} ?></em>
				<span>的</span>
				<em class="title" ng-model='jobwish_name' ng-init="jobwish_name = '<?php echo $wantjobValue['name']; ?>'">{{jobwish_name}}</em>
				<span>工作</span>
				<br>

				<span>工作地點位於</span>
					<em class="loc" ng-model='jobwish_loc' ng-init="jobwish_loc = '<?php echo $this->wantLocation; ?>'">{{jobwish_loc}}</em>
				<span ng-init="jobwish_telework=<?php echo $wantjobValue['telework']; ?>">，<?php if($wantjobValue['telework']=='true'){echo "接受";}else{echo "不接受";} ?></span>
					<em class="farwork">遠程工作</em>
				<br>

				<span>月薪不低于</span>
					<em class="salary-start" ng-model='jobwish_min_salary' ng-init="jobwish_min_salary = '<?php echo $wantjobValue['leastSalary']; ?>'">{{jobwish_min_salary}}</em>
				<span ng-init="jobwish_stock_option=<?php echo $wantjobValue['stock_option']; ?>">，<?php if($wantjobValue['stock_option']=='true'){echo "需要提供";}else{echo "不一定需要";} ?></span>
					<em class='stock'>股票選擇權</em>
			</div>

			<div class="clearfix edit_jobwish" ng-show='addjobwishB'>
				<div class='edit_div'>職位名稱 <input class='in_cv' ng-model='jobwish_name' value='{{jobwish_name}}'></div>
				<div class='edit_div'>工作類型
					<div class='editspan'>
						<!-- 開始設定職業許願職業類別  -->
						<input type='hidden' ng-init="JobTypes[0].status = <?php echo $full; ?>">
						<input type='hidden' ng-init="JobTypes[1].status = <?php echo $parttime; ?>">
						<input type='hidden' ng-init="JobTypes[2].status = <?php echo $intern; ?>">
						<!-- 設定checkbox -->
						<div class='edittype' ng-repeat='jobtype in JobTypes' ng-click='changeMode(jobtype)'>
						<input type='checkbox' class='checkbox' ng-model='jobtype.status'>
						{{jobtype.name}}</div>
					</div>
				</div>
				<div class='edit_div'>最低薪水 <input class='in_cv' ng-model='jobwish_min_salary' value='{{jobwish_min_salary}}'></div>
				<!-- 設定股票期權 -->
				<div class='edit_div'>股票期權<div class='edittype one_check'>
				<input type='checkbox' class='checkbox' ng-model="jobwish_stock_option">
				需要股票或期權</div></div>
				<!-- 設定工作地點 -->
				<div class='edit_div'>工作地點
					<div class='editloc'>
						<div class='loctag' ng-repeat='loc in locations'>{{loc}}<a href='javascript:;' class='icon delete' ng-click="deleteloca(loc)"></a></div>
						<br><br>
						<input class='in_cv' ng-model='newLoca' placeholder='輸入地點名稱'><a href="javascript:;" ng-click="newaddloca()"><button class='b_cv'>添加</button></a>
						<br>
						<p class='ErrorMessageInUserMe'>{{errorMes}}</p>
						<br>
						<?php if(!empty($this->laout_arr['workLocation'])) { foreach($this->laout_arr['workLocation'] as $locaKey => $locaValue) { ?>
						<a href='javascript:;' class='locationSelect' ng-click="addloca('<?php echo $locaValue['location']; ?>')"><div class='loctag'><?php echo $locaValue['location']; ?></div></a>
						<?php }} ?>
					</div>
				</div>
				<!-- 設定遠程工作 -->
				<div class='edit_div'>遠程工作
					<div class='edittype one_check' ng-click='changeModeLocation()'>
					<input type='checkbox' class='checkbox' ng-model='jobwish_telework'>
					接受遠程工作</div>
				</div>
				<p class='ErrorMessageInUserMe' id='jobwishError'>{{errorMess}}<p>

				<a href="javascript:;" ng-click='save_jobwish()'><button class='button b_jobwish'>保存</button></a>
				<a href="javascript:;" ng-click='reload()'><button class='button b_jobwish deny'>取消</button></a>

			</div>

		</div>
		<?php } ?>
	</div>

	<div class='special_skill'>
		<span class="seg-title">特殊技能</span>
		<!-- 開始設定特殊技能 -->
		<!-- 設定技能總攬 -->
		<input type="hidden" ng-init="allSkillList = '<?php echo $this->allSkillList; ?>'">
		<?php if(!empty($this->mySkillLists)){?>
			<!-- 設定我自己的技能 -->
		<input type="hidden" ng-init="myallSkillList = '<?php echo $this->mySkillLists; ?>'">
		<!-- 顯示技能 -->
		<div  class="clearfix showskills"  
		ng-hide='showSpecial'
		ng-init="skillListInit()">
			<a href="javascript:;" class='icon edit' ng-click='showSpecialFun()' style='top:20px;'></a>
			<ul class='skillList'>
				<li class='skill' ng-repeat='skill in myskills'>{{skill}}</li>
			</ul>
		</div>
		<?php }else{ ?>
		<a href="javascript:;" class='add_ee' style='margin-left:15px;' ng-click='showSpecialFun()' ng-hide='showSpecial' ng-init="skillListInit()">
			<span class='icon add'></span>
			新增你的技能
		</a>
		<?php } ?>
			
		<div class='clearfix' ng-show='showSpecial'>
			<ul class='skillList'>
				<li class='skill' ng-repeat='skill in myskills'>{{skill}}<a href='javascript:;' class='icon delete' ng-click='deleteskill(skill)'></a></li>
			</ul>

			<div class='addskills'>
				<!-- 輸入本來沒有的技能清單 -->
				<form ng-submit='newaddskill()' >
					<input type='text' class='in_cv' placeholder='請輸入技能標籤' ng-model='newskill' ng-init="newskill=''">
					<input class='in_submit' type='submit' value='新增'>
				</form>
				<!-- 點選增加技能 -->
				<ul class='skillList' id='addskill'>
					<li class='addskillLi' ng-repeat='Askill in allskills' ng-click="addskill(Askill)">{{Askill}}</li>
				</ul>
				<p class='ErrorMessageInUserMe' id='skillError'>{{skillErrorMess}}</p>
				<button class='button b_jobwish' ng-click="saveSkill()">保存</button>
				<button class='button b_jobwish deny' ng-click="reload()">取消</button>
			</div>
		</div>
	</div>

	<div class="education_experience">
		<span class="seg-title">教育經歷</span>
		<?php if(!empty($this->laout_arr['education'])){ foreach($this->laout_arr['education'] as $EduKey => $EduValue){ ?>
			<input type='hidden' ng-init="EDU_ID='<?php echo $EduValue['id']; ?>'">
			<input type='hidden' ng-init="EDU_eduBG='<?php echo $EduValue['educationBG']; ?>'">
			<input type='hidden' ng-init="EDU_startEdu='<?php echo $EduValue['startYear']; ?>'">
			<input type='hidden' ng-init="EDU_endEdu='<?php echo $EduValue['endYear']; ?>'">
			<input type='hidden' ng-init="EDU_school='<?php echo $EduValue['school']; ?>'">
			<input type='hidden' ng-init="EDU_major='<?php echo $EduValue['major']; ?>'">
			<input type='hidden' ng-init='initEducatinoFun()'>
		<?php }} ?>
		<div class='clearfix educationList'>
		<!-- 初始化教育設定 -->
		<!-- 開始設定教育 -->
			<div class='editEducationDiv' ng-repeat='eduexp in eduexps' ng-show="eduexp.status">
				<!-- 編輯教育內容 -->
				<div class='editListDiv'>
					<span class='editTitle'>學歷　　</span>
					<a href="javascript:;" ng-click='showlastEducation(eduexp)'><div class='editSelecter'>{{eduexp.education}}<span class='icon educaSel selectIcon'></span></div></a>
					<ul class='editDivSelectUl' id='editEducaSelect' ng-show='eduexp.eduSelector'>
						<a href="javascript:;" ng-repeat='edu in educations'><li class='educationSelected' ng-click='settingEduc(eduexp,edu)'>{{edu.name}}</li></a>
					</ul>
				</div>

				<div class='editListDiv'>
					<span class='editTitle'>在校年份</span>
					<a href="javascript:;" ng-click='showStartSelectoe(eduexp)'><div class='editSelecter'>{{eduexp.start_edu}}<span class='icon educaSel selectIcon'></span></div></a>
					<ul class='editDivSelectUl' id='educationStart' ng-show='eduexp.startSelector'>
					<a href="javascript:;" ng-repeat='n in []| range:50' ng-click='settingStart(eduexp,n)'><li>{{n}}</li></a>
					</ul>
					~
					<a href="javascript:;" ng-click='showEndSelector(eduexp)'><div class='editSelecter'>{{eduexp.end_edu}}<span class='icon educaSel selectIcon'></span></div></a>
					<ul class='editDivSelectUl' id='educationEnd' ng-show='eduexp.endSelector'>
					<a href="javascript:;" ng-repeat='n in []| range:50' ng-click='settingEnd(eduexp,n)'><li>{{n}}</li></a>
					</ul>
				</div>

				<div class='editListDiv'>
					<span class='editTitle'>學校名稱</span>
					<div class='editwrapper'><input type='text' class='editEdu_input' ng-model='eduexp.school' ng-value='eduexp.school'></div>
				</div>

				<div class='editListDiv'>
					<span class='editTitle'>專業名稱</span>
					<div class='editwrapper'><input type='text' class='editEdu_input' ng-model='eduexp.major' ng-value='eduexp.major'></div>
				</div>

				<p class='eduErrorMes'>{{eduErrorMes}}</p>

				<button class='editEdu_bon' id='editEduSave' ng-click='saveEducaFun(eduexp)'>保存</button>
				<button class='editEdu_bon' id='editEduCancel' ng-click='reload()'>取消</button>
				<button class='editEdu_bon' id='editEduDelete' ng-click='deleteEdu(eduexp)'>刪除</button>
			</div>
			<!-- 顯示教育列表 -->
			<ul class='educationListUl'>
				<li ng-repeat='eduexp in eduexps' ng-hide="eduexp.status">
					<a href="javascript:;" class='icon edit' ng-click='showEducationFun(eduexp)'></a>
					<p>{{eduexp.start_edu}}-{{eduexp.end_edu}} . {{eduexp.school}}</p>
					<p class='sub'>{{eduexp.education}} . {{eduexp.major}}</p>
				</li>
			</ul>

			<a href="javascript:;" class='add_ee' ng-click='addEducationFun()'>
				<span class='icon add'></span>
				新增教育經歷
			</a>
		</div>

	</div>

	<div class='experience2'>
		<span class="seg-title">項目經歷</span>
		<!-- 開始設定經歷 -->
		<div class='clearfix experienceList'>
			<!-- 初始化經驗列表 -->
			<?php if(!empty($this->laout_arr['experience'])){ foreach($this->laout_arr['experience'] as $ExpKey => $ExpValue){ ?>
			<input type='hidden' ng-init="EXP_ID = '<?php echo $ExpValue['id']; ?>'">
			<input type='hidden' ng-init="EXP_NAME = '<?php echo $ExpValue['name']; ?>'">
			<input type='hidden' ng-init="EXP_YEAR = '<?php echo $ExpValue['year']; ?>'">
			<input type='hidden' ng-init="EXP_HOWLONG = '<?php echo $ExpValue['continueTime']; ?>'">
			<input type='hidden' ng-init="EXP_COMPANY = '<?php echo $ExpValue['company']; ?>'">
			<input type='hidden' ng-init="EXP_ROLE = '<?php echo $ExpValue['role']; ?>'">
			<input type='hidden' ng-init="EXP_DETAIL = '<?php echo $ExpValue['detail']; ?>'">
			<input type='hidden' ng-init="EXPINIT()">
			<?php }} ?>
			<!-- 編輯經驗項目 -->
			<div class='editExperienceDiv' ng-repeat='experience in experiences' ng-show="experience.showEdit">
				<div class='editListDiv'>
					<span class='editTitle'>項目名稱</span>
					<div class='editwrapper'><input type='text' class='editEdu_input' ng-model='experience.name' ng-value='experience.name'></div>
				</div>

				<div class='editListDiv'>
					<span class='editTitle'>項目年份</span>
					<a href="javascript:;" ng-click='showYearFun(experience)'><div class='editSelecter'>{{experience.year}}<span class='icon educaSel selectIcon'></span></div></a>
					<ul class='editDivSelectUl' id='experienceYear' ng-show='experience.showYear'>
						<a href="javascript:;" ng-repeat='n in []| range:50'><li ng-click="setExperYear(experience,n)">{{n}}</li></a>
					</ul>
				</div>

				<div class='editListDiv'>
					<span class='editTitle'>項目周期</span>
					<a href="javascript:;" ng-click='showHowlongFun(experience)'><div class='editSelecter'>{{experience.howlong}}<span class='icon educaSel selectIcon'></span></div></a>
					<ul class='editDivSelectUl' id='experienceHowLong' ng-show='experience.showHowlong'>
						<a href="javascript:;" ng-repeat='long in howLongs'><li ng-click="setExperHowlong(experience,long)">{{long.name}}</li></a>
					</ul>
				</div>

				<div class='editListDiv'>
					<span class='editTitle'>所在公司</span>
					<div class='editwrapper'><input type='text' class='editEdu_input' ng-model='experience.company' ng-value='experience.company'></div>
				</div>

				<div class='editListDiv'>
					<span class='editTitle'>項目角色</span>
					<div class='editwrapper'><input type='text' class='editEdu_input' ng-model='experience.role' ng-value='experience.role'></div>
				</div>

				<div class='editListDiv'>
					<span class='editTitle experienceTop'>項目描述</span>
					<div class='editwrapper textarea'><textarea class='exper_textarea' ng-model='experience.detail' cols='58' rows='8'>{{experience.detail}}</textarea></div>
				</div>

				<p class='eduErrorMes'>{{expErrorMes}}</p>

				<button class='editEdu_bon experienceB' id='editEduSave' ng-click='saveExperienceFun(experience)'>保存</button>
				<button class='editEdu_bon experienceB' id='editEduCancel' ng-click='reload()'>取消</button>
				<button class='editEdu_bon experienceB' id='editEduDelete' ng-click='deleteExperience(experience)'>刪除</button>
			</div>

			<!-- 顯示經驗列表 -->
			<ul class='educationListUl'>
				<li ng-repeat='experience in experiences' ng-hide="experience.showEdit">
					<a href="javascript:;" class='icon edit' ng-click="showEditExperienceFun(experience)"></a>
					<p>{{experience.name}} . {{experience.company}}</p>
					<p>{{experience.role}} . {{experience.year}},{{experience.howlong}}</p>
					<p class='sub'>{{experience.detail}}</p>
				</li>
			</ul>

			<a href="javascript:;" class='add_ee' ng-click='addExperienceFun()'>
				<span class='icon add'></span>
				新增經歷
			</a>
		</div>
	</div>

	<div class='selfDetail'>
		<span class="seg-title">自我描述</span>

		<div class='clearfix experienceList'>

			<div class='addSelf' ng-hide='addSelfStatus'>
				<a href="javascript:;" class='icon edit' ng-click="showAddselfFun()"></a>
				<input type='hidden' ng-init="Addself = '請添加自我描述'">
				<?php if(!empty($this->laout_arr['member'][0]['selfIntro'])){ ?>
				<input type='hidden' ng-init="Addself = '<?php echo $this->laout_arr['member'][0]['selfIntro']; ?>'">
				<?php } ?>
				<p>{{Addself}}</p>
			</div>

			<div class='addSelf' ng-show='addSelfStatus'>
				<input type='text' class='in_cv' ng-model='Addself' ng-value='Addself'>
				<button class='b_cv' ng-click='saveAddself()'>保存</button>
			</div>
		</div>
	</div>
</div>
