<link rel="stylesheet" type="text/css" href="css/userMe.css">

<div class='onlineCV' ng-controller='Taolou_onlineCV'>
	<?php if($this->laout_arr['member']!=""){
			foreach($this->laout_arr['member'] as $memberKey => $memberValue) { ?>
	<div class='profile'>
		<a href="javascript:;" class='editProfile'>
			<span id='iconEditProfile' class='icon'></span>編輯
		</a>
		<div class='avatar'>
			<img ng-click='' src="images/userMe/<?php 
			if($memberValue['photo']!=""){echo $memberValue['photo'];}
			else echo "user-default.jpg"; ?>">
		</div>
		<div class='main clearfix'>
			<span class="name"><?php echo $memberValue['name']; ?></span>
			<span class="status"><?php echo $memberValue['jobStatus']; ?></span>
		</div>
		<div class="experience sub">
			<span class="birth"><b><?php echo $memberValue['bron']; ?></b> 年出生・</span>
			<span class="degree"><b><?php echo $memberValue['lastEducation']; ?></b>學歷・</span>
			<span class="work-years"><b><?php echo $memberValue['workYears']; ?></b> 年工作經驗</span>
		</div>
	</div>

	<div class='popEditProfileDiv'>
		<div class='title'>
			<span>修改基本訊息</span>
			<a href="javascript:;" class='closePop' alt='取消編輯'><span class='icon delete'></span></a>
		</div>

		<div class='pop-edit-line'>
			<span class='popLabel'>　　姓名</span>
			<div class='pop-inputWarp'>
				<input type='text' class='pop-input' value='<?php echo $memberValue['name']; ?>'>
			</div>
			<p class='edit-hint'>必填</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>出生年份</span>
			<div class='pop-inputWarp'>
				<a href="javascript:;" id='showYears'><input type='text' class='pop-input pop-select' disabled="disabled"></a>
				<ul class='pop-selectUl' id='yearSelect'>
					<a href="javascript:;" ng-repeat="n in [] | range:50" data-value='{{n}}'><li>{{n}}</li></a>
				</ul>
			</div>
			<p class='edit-hint'>必選</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>最高學歷</span>
			<div class='pop-inputWarp'>
				<a href="javascript:;" id='showEducation'><input type='text' class='pop-input pop-select' disabled="disabled"></a>
				<ul class='pop-selectUl' id='educationSelect'>
					<a href="javascript:;" ng-repeat='edu in educations' data-value='{{edu.eduTag}}'><li>{{edu.name}}</li></a>
				</ul>
			</div>
			<p class='edit-hint'>必選</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>工作年齡</span>
			<div class='pop-inputWarp'>
				<input type='text' class='pop-input ' value='<?php echo $memberValue['workYears']; ?>'>
			</div>
			<p class='edit-hint'>必填,單位為「年」</p>
		</div>
		<div class='pop-edit-line'>
			<span class='popLabel'>求職狀態</span>
			<div class='pop-inputWarp'>
				<a href="javascript:;" id='showJobStatus'><input type='text' class='pop-input pop-select' disabled="disabled"></a>
				<ul class='pop-selectUl' id='jobStatusSelect'>
					<a href="javascript:;" ng-repeat='jbs in jobStatus' data-value='{{jbs.jbsTag}}'><li>{{jbs.name}}</li></a>
				</ul>
			</div>
			<p class='edit-hint'>必選</p>
		</div>

		<div class='pop-edit-line popSaveDiv'>
			<a href="javascript:;" class='pop_save'>保存</a>
		</div>
	</div>

	<div class='profile-seg'>
		<span class="seg-title"><span class="icon title-chart locked"></span>聯絡方式</span>
		<div class="seg-body">
			<ul>
				<li class="mail clearfix"> 
					<span class="label">信箱</span>
					<span class="value value-mail"><?php echo $memberValue['email']; ?></span>
				</li>
				<li class="phone edit-el clearfix" ng-repeat='p in phone'>
					<a href="javascript:;" class='icon title-chart edit' ng-hide='p.editing' ng-click='edit(p)'></a>
					<span class="label">電話</span>
					<span class="value value-phone">
						<span ng-hide='p.editing'>{{p.phone}}</span>
						<span ng-show='p.editing'><input class='in_cv' ng-model='p.phone' value='{{p.phone}}'></span>
						<span ng-show='p.editing'><button class='b_cv' ng-click='save(p)'>保存</button></span>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<?php }} ?>

	<div class="profile-seg profile-job-wish">
		<span class="seg-title">求職願望</span>
		<div class="seg-body">
			<div class="edit-el clearfix" ng-repeat='jobwish in job_wish' ng-hide='jobwish.editing'>
				<a class="edit-tgr" href="javascript:;" ng-click='edit(jobwish)'><span class="icon edit"></span></a>

				<span>尋找</span>
						<em class="type" data-val="2">全職</em>
						<em class="type" data-val="1">兼職</em>
						<em class="type" data-val="0">實習</em>
				<span>的</span>
				<em class="title">{{jobwish.name}}</em>
				<span>工作</span>
				<br>

				<span>工作地点位于</span>
					<em class="loc">{{jobwish.loc}}</em>
				<span>，接受</span>
					<em class="loc">遠程工作</em>
				<br>

				<span>月薪不低于</span>
					<em class="salary-start">{{jobwish.min_salary}}</em>
				<span>，要求提供</span>
					<em class='stock'>股票選擇權</em>
			</div>

			<script>
				$(document).ready(function(){
					$( ".edittype" ).on( "click", function() {
						if($(this).children().prop("checked")){
							$(this).children().prop("checked",false);
						}
  						else{
  							$(this).children().prop("checked",true);
  						}
					});
				});
			</script>

			<div class="clearfix edit_jobwish" ng-repeat='jobwish in job_wish' ng-show='jobwish.editing'>

				<div class='edit_div'>職位名稱 <input class='in_cv' ng-model='jobwish.name' value='{{jobwish.name}}'></div>
				<div class='edit_div'>工作類型
					<div class='editspan'>
						<div class='edittype'><input type='checkbox' class='checkbox'>全職</div>
						<div class='edittype'><input type='checkbox' class='checkbox'>兼職</div>
						<div class='edittype'><input type='checkbox' class='checkbox'>實習</div>
					</div>
				</div>
				<div class='edit_div'>最低薪水 <input class='in_cv' ng-model='jobwish.min_salary' value='{{jobwish.min_salary}}'></div>
				<div class='edit_div'>股票期權<div class='edittype one_check'><input type='checkbox' class='checkbox'>需要股票或期權</div></div>
				<div class='edit_div'>工作地點
					<div class='editloc'>
						<div class='loctag'>{{jobwish.loc}}<a href='javascript:;' class='icon title-chart delete'></a></div>
						<br><br>
						<input class='in_cv' placeholder='輸入台灣城市名稱'>
						<br>
					</div>
				</div>
				<div class='edit_div'>遠程工作<div class='edittype one_check'><input type='checkbox' class='checkbox'>接受遠程工作</div></div>

				<a href="javascript:;" ng-click='save(jobwish)'><button class='button b_jobwish'>保存</button></a>
				<a href="javascript:;" ng-click='reload()'><button class='button b_jobwish deny'>取消</button></a>

			</div>

		</div>
	</div>

	<div class='special_skill'>
		<span class="seg-title">特殊技能</span>
		
		<div  class="clearfix showskills" ng-repeat='divskill in divskills' ng-hide='divskill.editing'>
			<a href="javascript:;" class='icon title-chart edit' ng-click='edit(divskill)'></a>
			<ul class='skillList'>
				<li class='skill' ng-repeat='skill in skills | filter:{isDelete:false}'>{{skill.name}}</li>
			</ul>
		</div>
			
		<div class='clearfix' ng-repeat='divskill in divskills' ng-show='divskill.editing'>
			<ul class='skillList'>
				<li class='skill' ng-repeat='skill in skills | filter:{isDelete:false}'>{{skill.name}}<a href='javascript:;' class='icon title-chart delete' ng-click='delete(skill)'></a></li>
			</ul>

			<div class='addskills'>
				<form ng-submit='addskills()' >
					<input type='text' class='in_cv' placeholder='請輸入技能標籤' ng-model='newitem' name='newitem'>
					<input class='in_submit' type='submit' value='新增'>
				</form>
				<ul class='skillList' id='addskill'>
					<li class='addskillLi' ng-repeat='skill in allskills'>{{skill.name}}<input type="hidden" ng-model='newitem' name='newitem' value="{{skill.name}}"></li>
				</ul>
				<button class='button b_jobwish'>保存</button>
				<button class='button b_jobwish deny'>取消</button>
			</div>
		</div>

		<div class="education_experience">
			<span class="seg-title">教育經歷</span>
			<div class='clearfix educationList'>
				<ul class='educationListUl'>
					<li ng-repeat='eduexp in eduexps'>
						<a href="javascript:;" class='icon title-chart edit' ng-click='edit(eduexp)'></a>
						<p>{{eduexp.start_edu}}-{{eduexp.end_edu}} ● {{eduexp.school}}</p>
						<p class='sub'>{{eduexp.education}} ● {{eduexp.marjor}}</p>
					</li>
				</ul>
				<a href="javascript:;" class='add_ee' ng-click='edit(eduexp)'>
					<span class='icon title-chart add'></span>
					新增教育經歷
				</a>
			</div>
		</div>

		<div class='experience2'>
			<span class="seg-title">項目經歷</span>
			<div class='clearfix experienceList'>

				<a href="javascript:;" class='add_ee' ng-click='edit(eduexp)'>
					<span class='icon title-chart add'></span>
					新增教育經歷
				</a>
			</div>
		</div>

		<div class='selfDetail'>
			<span class="seg-title">自我描述</span>

			<div class='clearfix experienceList'>

				<div class='addSelf'>
					<a href="javascript:;" class='icon title-chart edit'></a>
					<p>請添加自我描述</p>
				</div>
			</div>
		</div>

	</div>

</div>