<!DOCTYPE>
<html ng-app='TaoLou'>
<header>
	<?php @include_once $this->top_html; ?>
</header>
<body>

	<?php if($this->showad){@include_once $this->showad_html;}  ?>
	
	<div class='taoloumenu' ng-controller='TaoLouMenu'>
		<div class='logo'></div>
		<div class='menuBar'>
			<ul class='menu'>
				<li 
				<?php 
				if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='1'){
					echo "ng-repeat='list in memberLists'";
				}
				else if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='2'){
					echo "ng-repeat='list in companyLists'";
				}
				else{echo "ng-repeat='list in lists'";}
				?>>
					<a href="{{list.url}}">{{list.name}}</a>
				</li>
			</ul>
			
			<div class='search'>
				<form class='searchDiv'>
					<a href="javascript:;" class='icon title-chart inputSearch' ng-click='search()'></a>
					<input type='text' class='searchBar' ng-model='searchText' placeholder='搜尋公司或職位'>
				</form>
			</div>

			<?php if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='1') { ?>
			<script type="text/javascript" src='js/AN_account.js'></script>
			<div class='userProfile' ng-controller='TaolouAccount'>
				<a href="userMessage.php" class='icon title-chart userMessages'></a>
				<span class='mailMessage'>私信</span>
				<div class='userPicture' style="background-image: url(<?php if(!empty($_SESSION['user']['userPicture'])){echo $_SESSION['user']['userPicture'];}else{echo "images/userMe/user-default.jpg";} ?>);">
					<ul class='userMenuListUl'>
						<a href="userMe.php"><li>線上履歷</li></a>
						<a href="userSetting.php"><li>設定</li></a>
						<a href="javescript:;" ng-click='logout()'><li>登出</li></a>
					</ul>
				</div>
			</div>
			<?php } ?>

			<?php if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='2') { ?>
			<script type="text/javascript" src='js/AN_account.js'></script>
			<div class='userProfile' ng-controller='TaolouAccount'>
				<a href="companyPost.php?action=postJob" class='icon title-chart postJob'></a>
				<span class='postJobMessage'>發佈職位</span>
				<a href="userMessage.php" class='icon title-chart userMessages'></a>
				<span class='mailMessage'>私信</span>
				<div class='userPicture' style="background-image: url(<?php if(!empty($_SESSION['user']['userPicture'])){echo $_SESSION['user']['userPicture'];}else{echo "images/userMe/user-default.jpg";} ?>);">
					<ul class='userMenuListUl'>
						<a href="userMe.php"><li>個人資料</li></a>
						<a href="userSetting.php"><li>設定</li></a>
						<a href="javescript:;" ng-click='logout()'><li>登出</li></a>
					</ul>
				</div>
			</div>
			<?php } ?>

		</div>
    </div>

    <div class='body'>
    	<?php @include_once $this->content_html; ?>
    	<?php if($this->javaData!=""){
    		echo "<script type='text/javascript' src='".$this->javaData."'></script>";
    	} ?>
    	<?php @include_once @$this->subMenu; ?>
    </div>

    <div class='footer'>
    	<?php @include_once $this->footer_html; ?>
    </div>
</body>
</html>