<!DOCTYPE>
<html ng-app='TaoLou'>
<header>
	<?php @include_once $this->top_html; ?>
</header>
<body>
	<div id="fb-root"></div>
  <script type="text/javascript">
  //facebook api
  window.fbAsyncInit = function() {

    FB.init({
      appId      : '513736755435708',
      xfbml      : true,
      version    : 'v2.2',
    });
  };

  // Load the SDK asynchronously
  (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>

	<?php if($this->showad){@include_once $this->showad_html;}  ?>
	<?php if(!isset($this->hideTitleBar)){ if(!$this->hideTitleBar){ ?>
	<div class='taoloumenu' ng-controller='TaoLouMenu'>
		<div class='menuBar'>
			<a href="index.php"><div class='logo'></div></a>
			<ul class='menu'>
				<li 
				<?php 
				if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='1'){
					echo "ng-repeat='list in memberLists'";
				}
				else if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='2'){
					echo "ng-repeat='list in companyLists'";
				}
				else{echo "ng-repeat='list in lists'";}
				?>>
					<a href="{{list.url}}">{{list.name}}</a>
				</li>
			</ul>
			
			<div class='search'>
				<form class='searchDiv'>
					<a href="javascript:;" class='icon title-chart inputSearch' ng-click='search()'></a>
					<input type='text' class='searchBar' ng-model='searchText' placeholder='{{searchPlaceHolder}}'>
					<a href='javascript:;' id='searchBAR' style='position:absolute;top:-5px;right:0;background:#17B385;color:#ffffff;padding:5px 3px;border-radius:3px;' ng-click='search()'>搜尋</a>
				</form>

				<div class='searchResult' ng-show='companySearch || jobSearch || noSearch'>
					<a href='javascript:;' style='padding:5px;float:right;margin-top:-2px;' ng-click='closeSearch()'><span class='icon blackCrossIcon'></span></a><br>
					<p class='searchTitle' ng-show='companySearch'><strong>公司</strong></p>
					<ul style='list-style:none;' ng-show='companySearch'>
						<a href="companies.php?company={{company.src}}" ng-repeat='company in searchC'>
							<li style='height:39px;line-height:39px;padding:0px 30px;'>
								<span class='company'>{{company.name}}</span>
								<span class='jobCount'>{{company.jobs}}個職位開放</span>
							</li>
						</a>
					</ul>
					<p class='searchTitle' ng-show='jobSearch'><strong>職位</strong></p>
					<ul style='list-style:none;' ng-show='jobSearch'>
						<a href="jobs.php?jobsid={{job.src}}" ng-repeat='job in searchJ'>
							<li style='height:39px;line-height:39px;padding:0px 30px;'>
								<span class='company'>{{job.name}}</span>
								<span class='jobCount'>{{job.company}}公司職缺</span>
							</li>
						</a>
					</ul>

					<p class='searchTitle' ng-show='noSearch'><strong><span class='icon redCrossIcon'></span>　　找不到結果</strong></p>
				</div>
			</div>

			<?php if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='1') { ?>
			<script type="text/javascript" src='js/AN_account.js'></script>
			<div class='userProfile' ng-controller='TaolouAccount'>
				<?php if(@$_SESSION['user']['mailValid']=='y'){ ?>
				<a href="userMessage.php" class='icon title-chart userMessages'></a>
				<span class='mailMessage'>私信</span>
				<?php }else{ ?>
				<a href="mailValid.php?action=reSendMail" id='alertMailValid' class='icon title-chart alertIcon'></a>
				<span id='alertMailValidMes' class='mailMessage'>認證信箱</span>
				<?php } ?>
				<div class='userPicture' style="background-image: url(<?php if(!empty($_SESSION['user']['userPicture'])){echo $_SESSION['user']['userPicture'];}else{echo "images/userMe/user-default.jpg";} ?>);">
					<ul class='userMenuListUl'>
						<a href="userMe.php"><li>線上履歷</li></a>
						<a href="userSetting.php"><li>設定</li></a>
						<a href="javescript:;" ng-click='logout()'><li>登出</li></a>
					</ul>
				</div>
			</div>
			<?php } ?>

			<?php if(@$_SESSION['user']['id']!="" && @$_SESSION['user']['userType']=='2') { ?>
			<script type="text/javascript" src='js/AN_account.js'></script>
			<div class='userProfile' ng-controller='TaolouAccount'>
				<a href="companyPost.php?action=postJob" class='icon title-chart postJob'></a>
				<span class='postJobMessage'>發佈職位</span>
				<a href="userMessage.php" class='icon title-chart userMessages'></a>
				<span class='mailMessage'>私信</span>
				<div class='userPicture' style="background-image: url(<?php if(!empty($_SESSION['user']['userPicture'])){echo $_SESSION['user']['userPicture'];}else{echo "images/userMe/user-default.jpg";} ?>);">
					<ul class='userMenuListUl'>
						<a href="userMe.php"><li>個人資料</li></a>
						<a href="userSetting.php"><li>設定</li></a>
						<a href="javescript:;" ng-click='logout()'><li>登出</li></a>
					</ul>
				</div>
			</div>
			<?php } ?>

		</div>
    </div>
    <?php }} ?>

    <div class='body'>
    	<?php @include_once $this->content_html; ?>
    	<?php if($this->javaData!=""){
    		echo "<script type='text/javascript' src='".$this->javaData."'></script>";
    	} ?>
    	<?php @include_once @$this->subMenu; ?>
    </div>

    <div class='footer'>
    	<?php @include_once $this->footer_html; ?>
    </div>
</body>
</html>