	<title>TaoLou</title>
	<meta charset="utf-8">
    
	<link href="css/layout.css" rel="stylesheet">
    
	<script src='js/angular.js'></script>
    <script src="js/ANcontrol.js"></script>
    <script type="text/javascript" src='js/jquery-1.9.1.js'></script>
    <script type="text/javascript" src='js/layout.js'></script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
        api_key: 75ccameq7q7d6n
        onLoad: onLinkedInLoad
        authorize: true
        lang:  zh-TW
      </script>