	
	<meta charset="utf-8">
	<link rel="shortcut icon" href="http://taoloutw.tk/images/icon.ico" type="image/x-icon">

	<!-- start meta tag -->
	<meta name="description" content="Awesome Description Here">

	<!-- Facebook SHARE -->
	<meta property="og:title" content="Taolou頭路網，您最佳的求職網"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://taoloutw.tk/"/>
	<meta property="og:image" content="http://taoloutw.tk/images/shareIMG.jpg"/>
	
	<meta name="description" content="擁有垂直招聘的優勢，讓您的求職生涯再也不用擔心！" />
	<link rel="image_src" type="image/jpeg" href="http://taoloutw.tk/images/shareIMG.jpg"/>

	<link rel="image_src" type="image/jpeg" href="http://taoloutw.tk/images/shareIMG.jpg"/>
	<!-- END -->

	<title>TaoLou</title>
    
	<link href="css/layout.css" rel="stylesheet">
    
	<script src='js/angular.js'></script>
    <script src="js/ANcontrol.js"></script>
    <script type="text/javascript" src='js/jquery-1.9.1.js'></script>
    <script type="text/javascript" src='js/layout.js'></script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
	    api_key: 75ccameq7q7d6n
	    onLoad: onLinkedInLoad
	    authorize: false
	    lang:  zh-TW
	</script>