<link rel="stylesheet" type="text/css" href="css/checkSeeker.css">
<script type="text/javascript" src='js/AN_checkSeeker.js'></script>

<div class='checkSeekerDiv' ng-controller='Taolou_jobSeeker'>
	<!-- start LOADING DIV -->
	<div class='loadingBG' ng-show='loading'><p>Loading...</p></div>
	<!-- end LOADING DIV -->
	<h1>求職者資訊</h1>
	<div class='jobInfo'>
		<span class='tinytitle'>職缺資訊</span>
		<div class='joblist'>
			<?php if(!empty($this->laout_arr['jobInfo'])){
					foreach ($this->laout_arr['jobInfo'] as $jobKey => $jobValue) {?>
    		<h2>
    			<?php echo $jobValue['title']; ?> , 
    			<b><span class='jobName'><?php echo $jobValue['jobName']; ?></span></b>
    		</h2>

    		<p class="head-meta">
				<span class="meta-item"><span class="icon jobtypeicon"></span><?php echo $jobValue['jobNature']; ?></span>
				<span class="meta-item"><span class="icon locationicon"></span><?php echo $jobValue['location']; ?></span>
				<span class="meta-item"><span class="icon salaryicon"></span><?php echo $jobValue['salary']; ?></span>
				<span class="meta-item found-time"><span class="icon clock"></span><?php echo $jobValue['updateDate']; ?></span>
				<?php if($jobValue['stock_option']=='y'){?>
				<span class="meta-item stockOption"><span class="icon stockicon"></span>提供股票期權</span>
				<?php } ?>
			</p>
			<?php }} ?>
    	</div>
	</div>

	<div class='seekerInfo'>
		<div class='selectSeeker'>
			<a href="javascript:;" ng-click='showStatus()'><input type='text' class='input' ng-model='selectSeeker' ng-value='selectSeeker' disabled></a>
			<ul class='pop-selectUl' ng-show='selectSeekerStatus'>
				<a href="javascript:;" ng-repeat='jobStatus in jobSeekerStatus'><li ng-click='changeJobMode(jobStatus)'>{{jobStatus.name}}</li></a>
			</ul>
		</div>
		
		<div class='seekerDetail'>
			<?php if(!empty($this->laout_arr['seekers'])){
					foreach($this->laout_arr['seekers'] as $key => $value){ ?>
			<input type='hidden' ng-init="SEEKER_ID='<?php echo $value['memberId']; ?>'">
			<input type='hidden' ng-init="SEEKER_NAME='<?php echo $value['name']; ?>'">
			<input type='hidden' ng-init="SEEKER_PHOTO='<?php echo $value['photo']; ?>'">
				<?php if($value['cvId']!=0){ //cv?>
			<input type='hidden' ng-init="SEEKER_RESUME_NAME='<?php echo $this->resume[$value['id']][0]['name']; ?>'">
			<input type='hidden' ng-init="SEEKER_RESUME_SRC='<?php echo $this->resume[$value['id']][0]['src']; ?>'">
				<?php }else{ //online cv?>
			<input type='hidden' ng-init="SEEKER_RESUME_NAME='<?php echo "頭路網線上履歷"; ?>'">
			<input type='hidden' ng-init="SEEKER_RESUME_SRC='<?php echo "userMe_preview.php?seekerID=".$this->encode($value['memberId']); ?>'">
				<?php } ?>

			<input type='hidden' ng-init="SEEKER_STATUS='<?php echo $value['status']; ?>'">
			<input type='hidden' ng-init="SEEKER_COMMENT='<?php echo $value['comment']; ?>'">

			<input type='hidden' ng-init="SEEKERINIT()">
			<input type='hidden' ng-init="JOB_ID='<?php echo $value['jobId']; ?>'">
			<?php }} ?>

			<div class='seekerDiv' ng-repeat='seeker in seekers | filter:{status:selectSeekerFilter}'>

				<a href='javascript:;' ng-click='messageToSeeker(seeker)' style='z-index:2;position:absolute;left:-50px;top:40%;padding:15px;color:#ffffff;font-size:20px;font-weight:800;text-shadow:0px 2px 5px #000000;'>私信他</a>

				<div class='seekerPhoto' style="background:url({{seeker.photo}});background-size:cover;"></div>

				<div class='rightDiv'>
					<p>姓名：{{seeker.name}}</p>
					履歷：<a href="{{seeker.resume_src}}" class='resume' alt='下載履歷' target='_new' style='color:blue;' ng-click='changeStatusTo2(seeker)'>{{seeker.resume_name}}(下載)</a>
					<div class='scollBar'>
						<div class='scroll'></div>
						<ul class='barUl' style='font-size:14px;'>
							<a href="javascript:;" ng-click='changeStatusTo1(seeker)' ng-hide='seeker.status == 1'><li class='bar' id='deny'>不錄取</li></a>
							<a href="javascript:;" ng-show='seeker.status == 1'><li class='bar' id='deny' style='color:#ffffff;background: #EB6A64'>不錄取</li></a>
							<a href="javascript:;" ng-click='changeStatusTo2(seeker)' ng-hide='seeker.status == 2'><li class='bar' id='face'>履歷下載</li></a>
							<a href="javascript:;" ng-show='seeker.status == 2'><li class='bar' id='face' style='color:#ffffff;background: #FF8227'>履歷下載</li></a>
							<a href="javascript:;" ng-click='changeStatusTo3(seeker)' ng-hide='seeker.status == 3'><li class='bar' id='thinking'>已面試</li></a>
							<a href="javascript:;" ng-show='seeker.status == 3'><li class='bar' id='thinking' style='color:#ffffff;background: #FFBE0E'>已面試</li></a>
							<a href="javascript:;" ng-click='changeStatusTo4(seeker)' ng-hide='seeker.status == 4'><li class='bar' id='access'>錄取</li></a>
							<a href="javascript:;" ng-show='seeker.status == 4'><li class='bar' id='access' style='color:#ffffff;background: #17B385'>錄取</li></a>
						</ul>
					</div>
				</div>

				<div class='alertLight' style='background:#EB6A64;' ng-show='seeker.status == 1'></div>
				<div class='alertLight' style='background:#FF8227;' ng-show='seeker.status == 2'></div>
				<div class='alertLight' style='background:#FFBE0E;' ng-show='seeker.status == 3'></div>
				<div class='alertLight' style='background:#17B385;' ng-show='seeker.status == 4'></div>

				<textarea disabled class='textarea' style='background:#ffffff;border:1px solid #ECEDF0;' ng-model='seeker.comment' ng-if="seeker.commentSatus"></textarea>
				<textarea class='textarea' placeholder='提供建議，讓求職者能像上邁進' ng-model='seeker.comment' ng-if="!seeker.commentSatus"></textarea>

				<a href="javascript:;" style='font-size:14px;color:#ffffff;background:#000000;padding:5px;border-radius:3px;position:absolute;top:60px;right:80px;z-index:2;' ng-click="seeker.commentSatus=false">編輯</a>
				<a href="javascript:;" style='font-size:14px;color:#ffffff;background:#000000;padding:5px;border-radius:3px;position:absolute;top:100px;right:80px;z-index:2;' ng-click="sendComment(seeker)">送出</a>
			</div>
		</div>

		<div class='saveDiv'>
			<a href="companyPost.php" style='background:#36A9E5;padding:15px;border-radius: 3px;color:#ffffff;margin-right:50px;'>返回</a>
			<a href="javascript:;" style='background:#17B385;padding:15px;border-radius: 3px;color:#ffffff;margin-left:50px;' ng-click='saveCheck()'>保存</a>
		</div>

	</div>

	<!-- 率取最後確認 -->
	<div class='bg' ng-show='bg' ng-click='closeBG()'></div>
	<div class='check' ng-show='peopleCheck'>
		目前<span style='color:red'>有{{countAccess}}人</span>被錄取<br>
		<table style='padding:30px;'>
			<tr ng-repeat='seeker in seekers | filter:{status:4}'>
				<td><div class='seekerPhoto' style="background:url({{seeker.photo}});background-size:cover;width:50px;height:50px;"></div></td>
				<td>{{seeker.name}}</td>
			</tr>
		</table>
		<span style='font-size:12px;'>**系統將會寄發錄取信件給錄取者</span>
		<span style='font-size:12px;'>對求職者的評論也會一同送出喔！</span>
		<a href="javascript:;" style='background:#17B385;padding:10px;border-radius: 3px;color:#ffffff;position:relative;margin-top:50px;margin-left:75px;float:left;' ng-click='save()'>確定保存</a>
	</div>
	<div class='check' ng-show='noOneCheck'>
		目前<span style='color:red'>沒有求職者</span>被錄取<br><br>
		<span style='font-size:12px;'>對求職者的評論也會一同送出喔！</span><br>
		<a href="javascript:;" style='background:#17B385;padding:10px;border-radius: 3px;color:#ffffff;position:relative;margin-top:50px;margin-left:75px;float:left;' ng-click='save()'>確定保存</a>
	</div>

</div>