<link href="css/editCompany.css" rel="stylesheet">

    <div class='postInfoDiv'>

    	<div class='container'>
            <h2 class="with-edit">
                <span>編輯公司訊息</span>
                <a href="javascript:;" class="green-btn">保存變更</a>
            </h2>

            <div class="company_mark">
                <span class="edit-name">公司圖像</span>
                <div class='showComPhoto'></div>
                <a href="javascript:;" class="purple-btn">上傳</a>
            </div>

        </div>


		<div class='about_company'>
            <h4 class='tagName'>公司基本訊息</h4>
            <ul>
                <li><input type='text' placeholder='公司簡稱'></li>
                <li><input type='text' placeholder='公司全稱'></li>
                <li><input type='text' placeholder='網站'></li>
                <li><input type='text' placeholder='Facebook'></li>
                <li><input type='text' placeholder='所在城市'></li>
                <li><input type='text' placeholder='公司成立年份'></li>
                <li><input type='text' placeholder='公司規模'></li>
            </ul>
            <hr>
            <h4 class='公司技能'>公司專長領域</h4>
            <ul>
                <li><input type='text' placeholder='special skill'></li>
            </ul>
            <hr>
            <h4 class='tagName'>公司簡介</h4>
            <ul>
                <li><textarea name="Content" placeholder='請簡單的介紹公司，勿長篇大論'></textarea></li>
            </ul>
            <hr>
            <h4 class='tagName'>管理團隊</h4>
            <ul>
                <li><input type='text' placeholder='公司CEO姓名'></li>
                <li>圖像<div class='showComPhoto'></div></li>
                <a href="javascript:;" class="purple-btn">上傳圖片</a>
            </ul>
            <hr>
            <h4 class='tagName'>管理團隊</h4>
            <ul>
                <li><input type='text' placeholder='融資階段'></li>
                <li><input type='text' placeholder='融資年份月'></li>
            </ul>
            <hr>
            <a href="javascript:;" class="green-btn">保存</a>
		</div>
    	

    </div>