<link href="css/index.css" rel="stylesheet">
<link href="css/message.css" rel="stylesheet">


<section class='selectCompany'>
    <h3>
        <span><span class='icon folder'></span>無效職位</span>
        <a class='backMessTitle' href="companyPost.php?action=postJob"><span class='icon addicon'></span>發佈職位</a>
    </h3>
</section>

<div class='rule'>
	<?php if(empty($this->laout_arr['showJob'])){ ?>
    <p><span class='icon newspaper'></span>目前沒有無效職位喔</p>
    <?php }else{ ?>
    <?php foreach($this->laout_arr['showJob'] as $jobKey => $jobValue){ ?>
    <div class='showJobDiv' style='<?php if(in_array($jobValue['id'], $this->jobExpired)){echo"border:2px solid #FEC0A2;";} ?>'>
    	<div class='joblist'>
    		<h2>
    			<?php echo $jobValue['title']; ?> , 
    			<b><span class='jobName'><?php echo $jobValue['jobName']; ?></span></b>
    		</h2>

    		<p class="head-meta">
				<span class="meta-item"><span class="icon jobtypeicon"></span><?php echo $jobValue['jobNature']; ?></span>
				<span class="meta-item"><span class="icon locationicon"></span><?php echo $jobValue['location']; ?></span>
				<span class="meta-item"><span class="icon salaryicon"></span><?php echo $jobValue['salary']; ?></span>
				<span class="meta-item found-time"><span class="icon clock"></span><?php echo $jobValue['updateDate']; ?></span>
				<?php if($jobValue['stock_option']=='y'){?>
				<span class="meta-item stockOption"><span class="icon stockicon"></span>提供股票期權</span>
				<?php } ?>
			</p>

			<a href="companyPost.php?action=postJob&jobId=<?php echo $this->encode($jobValue['id']); ?>" class='editJob butShadow' style='background:#eb6a64;float:right;margin-right:15px;margin-top:-7px;'>刪除職位</a>
            <a href="companyPost.php?action=postJob&jobId=<?php echo $this->encode($jobValue['id']); ?>" class='editJob butShadow' style='float:right;margin-right:15px;margin-top:-7px;'>編輯職位</a>
    	</div>
    </div>
    <?php }} ?>
    <!-- <div class='showJobDiv'>
    	<div class='joblist'>
    		<h2>
    			Title , 
    			<span class='jobName'>Name</span>
    		</h2>

    		<p class="head-meta">
				<span class="meta-item"><span class="icon jobtypeicon"></span>實習</span>
				<span class="meta-item"><span class="icon locationicon"></span>南京</span>
				<span class="meta-item"><span class="icon salaryicon"></span>50000</span>
				<span class="meta-item found-time"><span class="icon clock"></span>2010 年 7 月</span>
				<span class="meta-item stockOption"><span class="icon stockicon"></span>提供股票期權</span>
			</p>

			<a href="companyPost.php?action=postJob&jobId=" class='editJob' style='background:#eb6a64'>刪除職位</a>
			<a href="companyPost.php?action=postJob&jobId=" class='editJob'>編輯職位</a>
    	</div>
    </div> -->

</div>