<link href="css/postJob.css" rel="stylesheet">
<script type="text/javascript" src='js/AN_postJob.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src='js/jquery.twzipcode.js'></script>

<div class="nsb-block edit" ng-controller='Taolou_postJob'>
	<h2>
		<span class="icon addicon"></span>
		<span>發佈職位</span>
	</h2>
	<div class="nsb-block-content">
		<?php if(!empty($this->laout_arr['showJob'])){
				foreach($this->laout_arr['showJob'] as $jobKey => $jobValue){ ?>
		<input type='hidden' ng-init="jobID='<?php echo $jobValue['id']; ?>'">
		<input type='hidden' ng-init="jobTitle='<?php echo $jobValue['title']; ?>'">
		<input type='hidden' ng-init="jobName='<?php echo $jobValue['jobName']; ?>'">
		<input type='hidden' ng-init="jobType='<?php echo $jobValue['jobType']; ?>'">
		<input type='hidden' ng-init="jobNature='<?php echo $jobValue['jobNature']; ?>'">
		<input type='hidden' ng-init="jobSalary=<?php echo $jobValue['salary']; ?>">
		<input type='hidden' ng-init="jobStockOption='<?php if($jobValue['stock_option']=='y'){echo "true";}else{echo "false";} ?>'">
		<input type='hidden' ng-init="jobDetail='<?php echo $jobValue['detail']; ?>'">
		<!-- 設定地點 -->
		<input type='hidden' ng-init="jobLocation='<?php echo $jobValue['location']; ?>'">
		<input type='hidden' id='LOCATION_countySel' value="<?php echo $this->jobLoca[0]; ?>">
		<input type='hidden' id='LOCATION_districtSel' value="<?php echo $this->jobLoca[1]; ?>">

		<input type='hidden' ng-init="jobSatus='<?php if($jobValue['status']=='y'){echo "有效職位";}else if($jobValue['status']=='F'){echo "已解決";}else if($jobValue['status']=='n'){echo "無效職位";} ?>'">
		<div class="edit-unit">
			<span class="edit-name">職位狀態</span>
			<div class="edit-body">
				<a href="javascript:;" ng-click='showStatusFun()'><input type="text" placeholder="請選擇職位狀態" class="required" ng-model='jobSatus' disabled><span class='icon dropList'></span></a>
				<ul class='editDivSelectUl' ng-show='jobshowStatus'>
					<a href="javascript:;" ng-repeat='jobstauts in jobStatus'><li ng-click='slectjobStatus(jobstauts)'>{{jobstauts.name}}</li></a>
				</ul>
				<span class="edit-hint">請選擇職位狀態</span>
			</div>
		</div>
		<?php }} ?>
		<div class="edit-unit">
			<span class="edit-name">發佈標題</span>
			<div class="edit-body">
				<input type="text" placeholder="請輸入標題" class="required" ng-model='jobTitle'>
				<span class="edit-hint">請輸入正確的標題</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">職位名稱</span>
			<div class="edit-body">
				<input type="text" placeholder="請輸入職位名稱" class="required" ng-model='jobName'>
				<span class="edit-hint">請輸入正確的職位名稱</span>
			</div>
		</div>
		<div class="edit-unit">
		<!-- 初始化工作類別 -->
		<?php if(!empty($this->laout_arr['sysJT'])){
				foreach($this->laout_arr['sysJT'] as $JTKey => $JTValue) { ?>
			<input type='hidden' ng-init="JOBTYPE_NAME='<?php echo $JTValue['typeName']; ?>'">
			<input type='hidden' ng-init="JOBTYPEINIT()">
		<?php }} ?>
			<span class="edit-name">職位類別</span>
			<div class="edit-body">
				<a href="javascript:;" ng-click='typeStatusFun()'><input type="text" placeholder="請選擇職位類別" class="required" ng-model='jobType' disabled><span class='icon dropList'></span></a>
				<ul class='editDivSelectUl' ng-show='jobTypeStauts'>
					<a href="javascript:;" ng-repeat='jobType in jobTypes'><li ng-click='selectJobType(jobType)'>{{jobType.name}}</li></a>
				</ul>
				<!-- NEED -->
				<span class="edit-hint">請準確的選擇職位類別</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">工作地點</span>
			<div class="edit-body">
				<div id="twzipcode"></div>
				<!-- NEED -->
				<span class="edit-hint">請準確的選擇辦公地點</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">工作性質</span>
			<div class="edit-body">
				<a href="javascript:;" ng-click='natureStatusFun()'><input type="text" placeholder="請選擇工作性質"  class="required" ng-model='jobNature' disabled><span class='icon dropList'></span></a>
				<ul class='editDivSelectUl' ng-show='jobNatureStatus'>
					<a href="javascript:;" ng-repeat='jobNature in jobNatures'><li ng-click='selectJobNature(jobNature)'>{{jobNature.name}}</li></a>
				</ul>
				<!-- NEED -->
				<span class="edit-hint"></span>
			</div>
		</div>

		<div class="edit-unit">
			<span class="edit-name">起始月薪</span>
			<div class="edit-body">
				<input type="number" placeholder="請輸入純數字"  onkeyup="value=this.value.replace(/\D+/g,'')" class="required" ng-model='jobSalary'>
				<span class="edit-hint">請輸入起始月薪，<br>格式為數字，單位為「台幣」</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">股票期权</span>
			<div class="edit-body">
				<div class='required checkbox' ng-click='stockOptionFun()'>
					<input type="checkbox" ng-checked='jobStockOption'><span>提供股票期權</span>
				</div>
				<span class="edit-hint"></span>
			</div>
		</div>
		<div class="edit-unit high">
			<span class="edit-name">職位描述</span>
			<div class="edit-body">
				<textarea style="height:220px;width:500px;" placeholder="請輸入職位描述，愈詳細愈好"  class="required" ng-model='jobDetail'></textarea>
			</div>
		</div>
		{{jobError}}
		<div class="edit-unit">
			<?php if(!empty($this->laout_arr['showJob'])){ ?>
			<a href="javascript:;" class="postJobBut butShadow" ng-click='saveJob()' style='background:#17b385;'>保存</a>
			<?php }else{ ?>
			<a href="javascript:;" class="postJobBut butShadow" ng-click='saveJob()'>發佈職位</a>
			<?php } ?>
			<a href="companyPost.php" class="postJobBut butShadow" style='background:#eb6a64;'>取消</a>
		</div>
	</div>
</div>