<link href="css/index.css" rel="stylesheet">
<link href="css/message.css" rel="stylesheet">
<script type="text/javascript" src='js/AN_jobFound.js'></script>

<section class='selectCompany'>
    <h3>
        <span><span class='icon folder'></span>已解決職位</span>
        <a class='backMessTitle' href="companyPost.php?action=postJob"><span class='icon addicon'></span>發佈職位</a>
    </h3>
</section>

<div class='rule' ng-controller='Taolou_jobFound'>
	<?php if(empty($this->laout_arr['showJob'])){ ?>
    <p><span class='icon newspaper'></span>目前沒有已解決職位喔</p>
    <?php }else{ ?>
    <?php foreach($this->laout_arr['showJob'] as $jobKey => $jobValue){ ?>
        <?php foreach($this->accessMan[$jobValue['id']] as $manKey => $manValue){ ?>
    <div class='bg' ng-show='showBG' ng-click='showMan()'></div>
    <div class='check' ng-show='showBG' style="top:70px;">
        <table style='font-size:10px;'>
            <img src="<?php echo $manValue['photo']; ?>" width='90px' style='margin-bottom:15px;'>
            <tr>
                <td>姓名：</td>
                <td><?php echo $manValue['name']; ?></td>
            </tr>
            <tr>
                <td>Email：</td>
                <td><?php echo $manValue['email']; ?></td>
            </tr>
            <tr>
                <td>電話：</td>
                <td><?php echo $manValue['phone']; ?></td>
            </tr>
        </table>
        <?php if($manValue['RESUME_id'] != 0){//自己的履歷 ?>
        <a href="<?php echo $manValue['RESUME_src']; ?>" class='but' target='_new' style='margin-left:10px;'>下載履歷</a>
        <?php }else{// taolou的履歷 ?>
        <a href="<?php echo "userMe_preview.php?seekerID=".$this->encode($manValue['id']); ?>" class='but' target='_new' style='margin-left:10px;'>TaoLou履歷</a>
        <?php } ?>
        <a href="javascript:;" class='but' ng-click='showMessage()' ng-hide='Message'>私信錄取者</a>

        <textarea ng-show='Message' class='textarea' placeholder='私信內容' ng-model='messageContent'></textarea>
        <a href="javascript:;" class='but' ng-show='Message' ng-if="messageContent == ''" style='background:none;color:#000000;position:absolute;bottom:20px;width:100px;right:50px;'>發送私信</a>
        <a href="javascript:;" class='but' ng-show='Message' ng-if="messageContent != ''" style='background:#36A9E5;position:absolute;bottom:20px;width:100px;right:50px;' ng-click='messageToMan(<?php echo $manValue['id']; ?>)'>發送私信</a>
    </div>
    <?php } ?>
    
    <div class='showJobDiv'>
    	<div class='joblist'>
    		<h2>
    			<?php echo $jobValue['title']; ?> , 
    			<b><span class='jobName'><?php echo $jobValue['jobName']; ?></span></b>
    		</h2>

    		<p class="head-meta">
				<span class="meta-item"><span class="icon jobtypeicon"></span><?php echo $jobValue['jobNature']; ?></span>
				<span class="meta-item"><span class="icon locationicon"></span><?php echo $jobValue['location']; ?></span>
				<span class="meta-item"><span class="icon salaryicon"></span><?php echo $jobValue['salary']; ?></span>
				<span class="meta-item found-time"><span class="icon clock"></span><?php echo $jobValue['updateDate']; ?></span>
				<?php if($jobValue['stock_option']=='y'){?>
				<span class="meta-item stockOption"><span class="icon stockicon"></span>提供股票期權</span>
				<?php } ?>
			</p>
            <a href="companyPost.php?action=postJob&jobId=<?php echo $this->encode($jobValue['id']); ?>" class='editJob butShadow' style='float:right;margin-right:15px;margin-top:-7px;'>編輯職位</a>
            
            <a href="javascript:;" class='editJob butShadow' style='background:#36A9E5' ng-click='showMan()'>觀看錄取人資訊</a>

    	</div>
    </div>
    <?php }} ?>

</div>