<link rel="stylesheet" type="text/css" href="css/index.css">
<style type="text/css">
    .subMenu{text-align: center;padding: 30px;}
    .rule{text-align: center;}
    .postJobBut{color: #ffffff;background: #36a9e5;padding: 8px 5px;border-radius: 3px;font-size: 16px;height: 14px;margin-left: 60px;}
    .postJobBut:hover{cursor: pointer;}
    .joblist{border-bottom: 1px solid #eceef1;width: 680px;padding: 20px;text-align: left;}
    .joblist h2{font-size: 22px;}
    .jobName{font-size: 18px;}
    .meta-item{display: inline-block;padding: 0;width: 80px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 16px;}
    .head-meta{padding: 0px 0px 10px 0px;}
    .found-time,.stockOption{width: 120px;}
    .editJob{color: #ffffff;background:#17b385;font-size: 15px;padding: 7px 5px;margin-left: 15px;}
    .editJob:hover{box-shadow: none;}
    .but{color: #ffffff;background:#17b385;font-size: 15px;border-radius: 3px;padding: 7px 5px;margin-left:30px;margin-top: 30px;float:left;}
    .itemMenu{display: block;border-top: 1px solid #ECEEF1;}
    .bg{position:fixed;width:100%;height:100%;background:#000;z-index:2;top:0;left:0;opacity:0.7;}
    .check{text-align:center;position: fixed;background:#ffffff;height:auto;box-shadow: 3px black;z-index: 10;box-shadow: 0px 5px 20px 5px #888888;left: 40%;border-radius: 5px;padding: 30px;top: 150px;padding-bottom: 80px;}
    .textarea{background: #eceef1;width: 240px;height: 120px;padding: 10px;border: none;border-radius: 3px;font-size: 14px;position: relative;z-index: 2;margin-top: 20px;}
</style>

<nav class='partner'>
	<h3 class='h3titile'>
        <span>職位管理</span>
    </h3>
	<div class='partnerList'>
        <?php if(empty($this->laout_arr['allShowJob'])){ ?>
        <p>您還沒有任何職位</p><br><br>
        <span class='postJobBut'>發佈職位</span>
        <script type="text/javascript">
        $(document).ready(function(){
            $('.postJobBut').click(function(){window.open('companyPost.php?action=postJob','_self');})
        });
        </script>
        <?php }else{ ?>
        <a href="companyPost.php?action=ManageJob" class='itemMenu' style='
        <?php if(empty($_GET['action']) || $_GET['action']=='ManageJob'){echo "background:#ECEEF1;";} ?>
        <?php if(!empty($this->jobApply)){echo "border:2px solid #FEC0A2;color:#FEC0A2;";} ?>'>
            <span class='job_management'>有效職位</span>
        </a>
        <a href="companyPost.php?action=found" class='itemMenu' style='
        <?php if(!empty($_GET['action']) && $_GET['action']=='found'){echo "background:#ECEEF1;";} ?>'>
            <span class='job_management'>已解決職位</span>
        </a>
        <a href="companyPost.php?action=invalid" class='itemMenu' style='
        <?php if(!empty($_GET['action']) && $_GET['action']=='invalid'){echo "background:#ECEEF1;";} ?>
        <?php if(!empty($this->jobExpired)){echo "border:2px solid #FEC0A2;color:#FEC0A2;";} ?>'>
            <span class='job_management'>無效職位</span>
        </a>
        <?php } ?>
	</div>
</nav>