<link rel="stylesheet" type="text/css" href="css/index.css">
<style type="text/css">
    .jobInfo:hover{background: #ffffff;}
    .author a{text-decoration: none;font-weight: 700;color: #707b91;}
    .author a b{font-weight: 700;}
    .author a:hover{text-decoration: underline;}
    .status a{text-decoration: none;font-weight: 700;color: #707b91;}
    .subMenu{text-align: center;padding: 30px;}
    .rule{text-align: center;}
    .postJobBut{color: #ffffff;background: #36a9e5;padding: 8px 5px;border-radius: 3px;font-size: 14px;height: 14px;}
</style>

<nav class='partner'>
	<h3 class='h3titile'>
        <span>職位管理</span>
    </h3>
	<div class='subMenu'>
        <p>您還沒有任何職位</p><br><br>
        <a href="companyPost.php?action=postJob" class='postJobBut'>發佈職位</a>
	</div>
</nav>