<link href="css/postJob.css" rel="stylesheet">

<section class="nsb-block edit">
	<h2>
		<span class="icon addicon"></span>
		<span>发布职位</span>
	</h2>
	<div class="nsb-block-content">
		<div class="edit-unit">
			<span class="edit-name">职位名称</span>
			<div class="edit-body">
				<input type="text" placeholder="请输入职位名称" name="title" class="required">
				<span class="edit-hint">请输入简洁/准确的职位名称</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">职位类别</span>
			<div class="edit-body">
				<!-- NEED -->
				<span class="edit-hint">请选择准确的职位类别</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">工作地点</span>
			<div class="edit-body">
				<!-- NEED -->
				<span class="edit-hint">请准确地选择办公地点</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">工作性质</span>
			<div class="edit-body">
				<!-- NEED -->
				<span class="edit-hint"></span>
			</div>
		</div>

		<div class="edit-unit">
			<span class="edit-name">起始月薪</span>
			<div class="edit-body">
				<input type="text" placeholder="请输入纯数字" name="salary_start" class="">
				<span class="edit-hint">请输入职位的起始薪水（月薪），格式为「数字」，单位为「人民币」</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">股票期权</span>
			<div class="edit-body">
				<div class="">
					<div class="input-wrapper">
						<input type="checkbox" name="stock_options" id="stock_options" value="1">
						<label class="first last" for="stock_options"><span class="icon"></span>提供股票或期权</label>
					</div>
				</div>
				<span class="edit-hint"></span>
			</div>
		</div>
		<div class="edit-unit high">
			<span class="edit-name">职位描述</span>
			<div class="edit-body">
				<textarea style="height:420px;" name="description" id="" cols="30" rows="10" class="required"></textarea>
			</div>
		</div>
		<input type="hidden" name="action" value="/api/positions/publish">
	</div>
	<div class="nsb-block-ctrl">
		<div class="submit">
			<a class="green-btn submit-btn">发布工作</a>
		</div>
	</div>
</section>