<link href="css/post_job.css" rel="stylesheet">

    <div>
    	<section class='container' ng-controller='TaoLoujob-index'>
            <h2 class="with-edit">
                <span>Edit company</span>
                <button class="green-btn reg_btn">
                    save
                </button>
            </h2>

            <div class="company_mark">
                <span class="edit-name">
                    company mark
                </span>
                <button class="file-input-trigger purple-btn">
                    upload
                </button>
            </div>


    		<div class='about_company'>
                <ul>
                    <li class='tagName'>about company</li>
                    <ul><input type='text' placeholder='name'></ul>
                    <ul><input type='text' placeholder='website'></ul>
                    <ul><input type='text' placeholder='facebook'></ul>
                    <ul><input type='text' placeholder='location'></ul>
                    <ul><input type='text' placeholder='founded time'></ul>
                    <ul><input type='text' placeholder='scale'></ul>
                </ul>
                <ul>
                    <li class='tagName'>skill</li>
                    <ul><input type='text' placeholder='special skill'></ul>
                </ul>
                <ul>
                    <li class='tagName'>introduction</li>
                    <ul><textarea name="Content" placeholder='the shortest, the best'></textarea></ul>
                </ul>
                <ul>
                    <li class='tagName'>leader</li>
                    <ul><input type='text' placeholder='name'></ul>
                </ul>
    		</div>
    	</section>

    </div>