<link href="css/post_job.css" rel="stylesheet">

    <div class='postInfoDiv'>

    	<div class='container'>
            <h2 class="with-edit">
                <span>編輯公司訊息</span>
                <a href="javascript:;" class="green-btn">保存並更</a>
            </h2>

            <div class="company_mark">
                <span class="edit-name">公司圖像</span>
                <div class='showComPhoto'></div>
                <a href="javascript:;" class="purple-btn">上傳</a>
            </div>

        </div>


		<div class='about_company'>
            <h4 class='tagName'>公司基本訊息</h4>
            <ul>
                <li><input type='text' placeholder='name'></li>
                <li><input type='text' placeholder='website'></li>
                <li><input type='text' placeholder='facebook'></li>
                <li><input type='text' placeholder='location'></li>
                <li><input type='text' placeholder='founded time'></li>
                <li><input type='text' placeholder='scale'></li>
            </ul>
            <h4 class='公司技能'>公司技能</h4>
            <ul>
                <li><input type='text' placeholder='special skill'></li>
            </ul>
            <h4 class='tagName'>公司介紹</h4>
            <ul>
                <li><textarea name="Content" placeholder='the shortest, the best'></textarea></li>
            </ul>
            <h4 class='tagName'>公司領導人</h4>
            <ul>
                <li><input type='text' placeholder='name'></li>
            </ul>
		</div>
    	

    </div>