<link rel="stylesheet" type="text/css" href="css/editCompany.css">
<script type="text/javascript" src='js/AN_userHR.js'></script>

<style type="text/css">
	.edit{display: block;width: 800px;margin: auto;overflow: hidden;}

</style>

<div class="nsb-block edit">
	<h2>
		<span class="icon people"></span>
		<span>個人資料</span>
	</h2>
	<div class="nsb-block-content">
		<div class="edit-unit">
			<p class="edit-statement"><span class="icon alertIcon"></span>個人訊息完整更能吸引求職者</p>
		</div>
		<div class="edit-unit">
			<span class="edit-name">您的公司</span>
			<div class="edit-body">
				<a class="input-weibo-holder" href="javascript:;"><input class='required' placeholder="選擇您的公司" disabled></a>
				<span class="edit-hint">绑定公司<br>會寄信件給公司聯絡人</span>

				<p>沒有您的公司嗎？現在建立您的公司</p>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">绑定FB</span>
			<div class="edit-body">
				<a class="input-weibo-holder" href="javascript:;"><input class='required' placeholder="綁定facebook" disabled></a>
				<span class="edit-hint" data-hint="绑定FaceBook可以開啟更多功能">绑定FaceBook<br>開啟更多功能</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">绑定Google</span>
			<div class="edit-body">
				<a class="input-weibo-holder" href="javascript:;"><input class='required' placeholder="綁定Google" disabled></a>
				<span class="edit-hint" data-hint="绑定Google可以開啟更多功能">Google<br>開啟更多功能</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">個人頭像</span>
			<div class="edit-body">
				<div class="input-file-wrapper">
					<a href="javascript:;" class="input-weibo-holder"><input class='required' placeholder="請點上傳新頭像" disabled></a>
					<span style="background-image: url('http://nsb-cdn.b0.upaiyun.com/avatars/90a0/9952/90a099527be1f03d_medium.png');background-size:cover;width:42px;height:42px;display:block;float:right;"></span>
				</div>
				<span class="edit-hint" data-hint="支持 JPG/PNG/GIF 格式，最大 2MB；请使用「正方形」的清晰标志">上傳個人大頭像，非公司Logo<br>支持 JPG/PNG/GIF 格式。</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">真實姓名</span>
			<div class="edit-body">
				<input type="text" placeholder="請輸入您的真實姓名" class="required">
				<span class="edit-hint">必填</span>
			</div>
		</div>
		<div class="edit-unit">
			<span class="edit-name">聯絡信箱</span>
			<div class="edit-body">
				<input type="email" placeholder="請輸入您的信箱" class='required' disabled>
				<span class="edit-hint">暫不支援更換信箱</span>

			</div>
		</div>
	</div>
	<div class="nsb-block-ctrl">
		<div class="submit">
			<a href="javascript:;" class="green-btn submit-btn">保存个人信息</a>
		</div>
	</div>
</div>