<link rel="stylesheet" type="text/css" href="css/editCompany.css">
<script type="text/javascript" src='js/AN_userHR.js'></script>

<style type="text/css">
	.edit{display: block;width: 800px;margin: auto;overflow: hidden;}
		.edit-name{width: 150px;}
		.dropList{top: -10px;}
		.editDivSelectUl{top: 70px;}
		.validOrNot{font-size: 13px;font-weight:700;color: #EB6A64;}
		.validOrNot a{text-decoration: underline;color: #7FAFFB;}
			.imgShow{background-size:cover;width:42px;height:42px;display:block;float:right;position: absolute;right: 185px;top: 4px;}
	.moreInfo{height: 400px;}
		.moreCom{width: 100%;height: auto;float: left;text-align: left;padding: 20px 20px;}
		.moreCom a{text-decoration: underline;color: #7FAFFB;}
		.moreCom a span{font-size: 15px;}

	.changeOK{position: fixed;text-align: center;width: 1024px;height: auto;color: white;font-weight: 700;font-size: 20px;background-color: #eb6a64;z-index: 10;padding: 50px 0px;top: -200px;}
	.errorMes{color: #EB6A64;display: block;font-weight: 700;font-size: 15px;}
	.saveBot{margin-left: 150px;padding: 15px 10px;}
</style>

<div class='changeOK' id='saveOK'>
    保存成功！
</div>
<div class='changeOK' id='alert'>
    請注意！<br>
    公司選定後，暫時不提供更換公司！<br>
    請再按「保存」
</div>
<div class='changeOK' id='resend'>
    重新寄發成功！
</div>

<div class="nsb-block edit" ng-controller="Taolou_userHr">
	<!-- start LOADING DIV -->
	<div class='loadingBG' ng-show='loading'><p>Loading...</p></div>
	<!-- end LOADING DIV -->
	<h2>
		<span class="icon people"></span>
		<span>個人資料</span>
	</h2>
	<!-- 初始化資料 -->
	<?php if(!empty($this->laout_arr['member'])){
			foreach($this->laout_arr['member'] as $MKey => $MValue){ ?>
	<input type='hidden' ng-init="Name='<?php echo $MValue['name']; ?>'">
	<input type='hidden' ng-init="company='<?php echo $this->companyName; ?>'">
	<input type='hidden' ng-init="saveStatus='<?php echo $this->companyName; ?>'">
	<input type='hidden' ng-init="companyValid='<?php echo $MValue['companyValid']; ?>'">
	<input type='hidden' ng-init="photo='<?php echo $MValue['photo']; ?>'">
	<input type='hidden' ng-init="email='<?php echo $MValue['email']; ?>'">
	<input type='hidden' ng-init="FB='<?php echo $MValue['facebook']; ?>'">
	<input type='hidden' ng-init="IN='<?php echo $MValue['LinkedIn']; ?>'">
	<?php }} ?>
	<!-- 初始化公司列表 -->
	<?php if(!empty($this->laout_arr['company'])) {
			foreach($this->laout_arr['company'] as $ComKey => $ComValue) { ?>
	<input type='hidden' ng-init="COMPANY_NAME='<?php echo $ComValue['companyName']; ?>'">
	<input type='hidden' ng-init="COMPANYINIT()">
	<?php }} ?>
	<div class="nsb-block-content">
		<div class="edit-unit">
			<p class="edit-statement"><span class="icon alertIcon"></span>個人訊息完整更能吸引求職者</p>
		</div>
		<!-- 輸入公司 -->
		<div class="edit-unit" ng-hide='noCompanyStatus'>
			<span class="edit-name">您的公司</span>
			<div class="edit-body">
				<a href="javascript:;" <?php if($this->companyName){echo "";}else{echo "ng-click='companyFun()'";} ?>><input class='required' placeholder="選擇您的公司" ng-model='company' disabled><span class='icon dropList'></span></a>

				<span class="edit-hint">
					<?php if($this->companyName){ ?>
						<?php if($this->laout_arr['member'][0]['companyValid']=='y'){ ?>
					<span class='validOrNot' style="color:#6B778D;"><span class='icon checkIcon'></span>已認證</span>
						<?php }else if($this->laout_arr['member'][0]['companyValid']=='Host'){ ?>
					<span class='validOrNot' style="color:#6B778D;"><span class='icon checkIcon'></span>已認證<br>您是公司聯絡人<br><a href="javascript:;" ng-click='showchangeDivFun()'>變更公司聯絡人</a></span>
						<?php }else{?>
					<span class='validOrNot'><span class='icon redCrossIcon'></span>尚未認證<br><a href="javascript:;" ng-click='reSendCompanyValid()'>再寄確認信給公司聯絡人</a></span>
					<?php }}else{ ?>
					绑定公司<br>會寄信件給公司聯絡人
					<?php } ?>
				</span>
			</div>
			<ul class='editDivSelectUl' ng-show='companyStatus'>
                <a href="javascript:;" ng-repeat="company in companies"><li ng-click='companySave(company)'>{{company.name}}</li></a>
            </ul>
            <?php if(!$this->companyName){ ?>
			<div class='moreCom'>
				<a href="javascript:;" ng-click='noCompanyFun()'><span>沒有您的公司嗎？現在建立您的公司</span></a>
			</div>
			<?php } ?>
		</div>
		<!-- 建立新公司 -->
		<div class="edit-unit" ng-show='noCompanyStatus'>
			<span class="edit-name"><span class='icon addicon'></span>新增我的公司</span>
			<div class='edit-body' >
				<input type='text' placeholder="我的公司名稱" class='required' ng-model='company'>
			<span class="edit-hint">新增完後可以點選<br>
				<a href="javascript:;" style='color: #7FAFFB;text-decoration: underline;'>我的公司</a>
				進行編輯
			</span>
			</div>
			<div class='moreCom'>
				<a href="javascript:;" ng-click='noCompanyFun()'><span>我要選擇現有的公司</span></a>
			</div>
		</div>
		<!-- 變更聯絡人-->
		<?php if($this->companyName && $this->laout_arr['member'][0]['companyValid']=='Host'){
				foreach($this->laout_arr['allComUser'] as $ACUKey => $ACUValue){ ?>
		<input type='hidden' ng-init="COMPANY_USER='<?php echo $ACUValue['name']; ?>'">
		<input type='hidden' ng-init="COMPANYUSERINIT()">
		<?php }} ?>
		<?php if($this->companyName && $this->laout_arr['member'][0]['companyValid']=='Host'){ ?>
		<div class="edit-unit" ng-show='showChangeDiv'>
			<span class="edit-name"><span class='icon alertIcon'></span>變更聯絡人</span>
			<div class="edit-body">
				<a href="javascript:;" ng-click='changeContactFun()'><input class='required' placeholder="選擇聯絡人" ng-model='newContent' disabled><span class='icon dropList'></span></a>
				<span class="edit-hint">變更之後<br>只有聯絡人能再變更</span>
			</div>
			<ul class='editDivSelectUl' ng-show='changeContactStatus'>
                <a href="javascript:;" ng-repeat="user in companyUsers"><li ng-click='changeContact(user)'>{{user.name}}</li></a>
            </ul>
		</div>
		<div class="edit-unit" style="text-align:center;" ng-show='showChangeDiv'>
			<p class='errorMes' style='margin-bottom:20px;'>{{contactError}}</p>
			<a href="javascript:;" class='green-btn' ng-click='CHANGEUSER()'>變更聯絡人</a>
		</div>
		<?php } ?>
		<!-- FB -->
		<div class="edit-unit">
			<span class="edit-name">绑定Facebook<img src="https://www.facebook.com/images/fb_icon_325x325.png" width='40' style='float:left;'></span>
			<div class="edit-body">
				<a class="input-weibo-holder" href="javascript:checkLoginState();" ng-show="FB == ''"><input class='required' placeholder="綁定facebook" ng-model='FB' disabled></a>

				<span class="input-weibo-holder" ng-show="FB != ''"><input class='required' placeholder="綁定facebook" value="<?php echo $this->laout_arr['facebook'][0]['facebook_id']; ?>" disabled></span>
				<img class='imgShow' id='Photo' src="<?php echo $this->laout_arr['facebook'][0]['facebook_photo']; ?>" ng-show="FB != ''">
		<!--------------------------------------------------------------------------- -->
				<span class="edit-hint" data-hint="绑定FaceBook可以開啟更多功能" ng-show="FB == ''">绑定FaceBook<br><span style='color:red;'>綁定後能用Facebook登入<br>開啟更多功能</span></span>

				<span class='validOrNot' style="color:#6B778D;float:right;margin-top:15px;" ng-show="FB != ''"><span class='icon checkIcon'></span>已綁定</span>
			</div>
		</div>
		<!-- LINKEDIN -->
		<div class="edit-unit">
			<span class="edit-name">绑定LinkedIn<img src="https://pbs.twimg.com/profile_images/2945466711/12e018532d913494d841f79da5dd70bf_400x400.png" width='40' style='float:left;'></span>
			<div class="edit-body">
				<div id='LinkedInLogin' style='display:none;' ng-show="IN == ''">
	            	<script type="IN/Login" data-onAuth="onLinkedInAuth"></script>
	       		</div>

	       		<span class="input-weibo-holder" ng-show="IN != ''"><input class='required' placeholder="綁定LinkedIn" value="<?php echo $this->laout_arr['IN'][0]['LinkedIn_id']; ?>" disabled></span>
				<img class='imgShow' id='Photo' src="<?php echo $this->laout_arr['IN'][0]['LinkedIn_photo']; ?>" ng-show="IN != ''">
		<!--------------------------------------------------------------------------- -->
				<span class="edit-hint" data-hint="绑定LinkedIn可以開啟更多功能" ng-show="IN == ''">绑定LinkedIn<br><span style='color:red;'>綁定後能用LinkedIn登入<br>開啟更多功能</span></span>

				<span class='validOrNot' style="color:#6B778D;float:right;margin-top:15px;" ng-show="IN != ''"><span class='icon checkIcon'></span>已綁定</span>
			</div>
		</div>
		<!-- USER_PHOTO -->
		<div class="edit-unit">
			<span class="edit-name">個人頭像</span>
			<div class="edit-body">
				<a href="javascript:;" id="openFile"><input id='photoName' class='required' placeholder="請點上傳新頭像" disabled></a>
				<input type='file' style="display:none;" id='photoFile' accept="image/*" onchange='handleFiles(this.files)'>
				
				<img class='imgShow' id='Photo' src="{{photo}}" ng-if="photo">
				<img class='imgShow' id='Photo' src="images/userMe/user-default.jpg" style='border:1px solid #6b7485;' ng-if="!photo">
				
				<span class="edit-hint">上傳<span style='color:red;'>個人大頭像</span>，<br>非公司Logo</span>
			</div>
		</div>
		<!-- USER_NAME-->
		<div class="edit-unit">
			<span class="edit-name">真實姓名</span>
			<div class="edit-body">
				<input type="text" placeholder="請輸入您的真實姓名" class="required" ng-model='Name'>
				<span class="edit-hint">必填</span>
			</div>
		</div>
		<!-- USER_EMAIL -->
		<div class="edit-unit">
			<span class="edit-name">聯絡信箱</span>
			<div class="edit-body">
				<input type="email" placeholder="請輸入您的信箱" class='required' ng-model='email' style='color:#A9A9A9;' disabled>
				<span class="edit-hint">暫不支援更換信箱</span>

			</div>
		</div>

		<!-- 無設定公司 -->
		<div class="edit-unit" ng-hide='doubleCheck' ng-if="saveStatus != ''">
			<a href="javascript:;" class="green-btn saveBot" ng-click="saveName()">更改真實姓名</a>
		</div>

		<!-- 有設定公司 -->
		<div class="edit-unit" ng-hide='doubleCheck' ng-if="saveStatus == ''">
			<p class='errorMes'>{{userHRError}}</p>
			<a href="javascript:;" class="green-btn saveBot" ng-click="userHRdblCheck()">保存個人訊息</a>
		</div>
		<div class="edit-unit" ng-show='doubleCheck'>
			<a href="javascript:;" class="green-btn saveBot" ng-click="userHRSave()">保存</a>
		</div>

	</div>
</div>