<link rel="stylesheet" type="text/css" href="css/topicPage/newCompanies.css">


<div class='banner'></div>

<div class='newCompanyDiv'>	
	
	<div class='intro'>
		<h1>介紹</h1>
	</div>
	
	<div class='companyList'>
		
		<div class='companyDiv Left'>
		
			<img class='companyPhoto Left' src='' />

			<div class='companyDetail Right'>
				<h1 class='companyName'>CompanyName</h1>
			
				<div class='companyIntro'>
					intro detail
				</div>

				<div class='companyLink'>
					facebook
				</div>
			</div>
		</div>

		<div class='companyDiv Right'>
		
			<img class='companyPhoto Right' src='' />

			<div class='companyDetail Left'>
				<h1 class='companyName'>CompanyName</h1>
			
				<div class='companyIntro'>
					intro detail
				</div>

				<div class='companyLink'>
					facebook
				</div>
			</div>

		</div>

	</div>

	<div class='white'></div>

</div>